{exp:channel:entries channel="gig_schedule" limit="1" disable="categories|member_data|pagination" require_entry="yes"}
<div class="row black-bg">
    <div class="twelve columns">
        <h1>DOUBLE BILL</h1>
    </div>
</div>


<div class="row">
    <div class="twelve columns black-bg">

        <dl class="tabs pill two-up">
            {artist_listing search:gig_name="{segment_4}"}
                <dd class="active ">
                    <a href="#{artist}{url_title}{/artist}" class="wordcount" id="gig-info-name"> {artist}{title}{/artist} </a>
                </dd>
            {/artist_listing}
        </dl>

        <ul class="tabs-content">
            {artist_listing search:gig_name="{segment_4}"}
                <li class="active" id="{artist}{url_title}{/artist}Tab">

                        <div class="row"> <!-- top row with image and gig detials -->
                            <div class="seven columns">
                                {artist}
                                    {exp:ce_img:pair src="{artist_image}" max_height="400" max_width="710" crop="yes" add_dims="no"}
                                        <img src="{made}" alt="" width="{width}" height="{height}" />
                                    {/exp:ce_img:pair}
                                {/artist}
                            </div>

                            <div class="row show-for-small"> <!-- row for artist name as a header -->
                                <div class="twelve columns" style="margin-left: 20px;">     <h1> {artist} {artist_name} {/artist} </h1>
                                </div>
                            </div> <!-- end row -->

                            <div class="five columns show-details">
                                <div class="show-for-small social-mobile social-hover">
                                    {artist}
                                        <ul>
                                            {if fb_page !=""}
                                                <li class="" ><h4><a href="http://{fb_page}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_facebook.png" alt="Facebook Link"></a></h4> </li>
                                            {/if}
                                            {if twitter_link !=""}
                                                <li class=""><h4><a href="http://{twitter_link}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_twitter.png" alt="Twitter Link"></a></h4> </li>
                                            {/if}
                                            {if website_url !=""}
                                                <li class="end" ><h4><a href="http://{website_url}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_website.png" alt="Website Link"></a></h4> </li>
                                            {/if}
                                        </ul>
                                    {/artist}
                                </div>

                                <div class="grey-bg">
                                    {if date != ""}
                                        <br>
                                        <div class="circular date-container">
                                            <div class="text-container">
                                                <div class="day" style="margin-top:15px;"> {date format="%D "}</div>
                                                <div class="date"> {date format="%j"}</div>
                                            </div>
                                        </div>
                                    {/if}
                                    <div class="row details" style="color:#ffffff; margin-left:5px; margin-right:5px;">  {time format="%G:%i"} @ {venue}{title}{/venue} </div>
                                    <div class="row extra-time" style="color:#ffffff;">  {extra-gig-times} </div>
                                        {if ticketprice != ""}
                                            <b><div class="ticket"> tickets: {ticketprice} </b></div>
                                        {if:else}
                                            <b><div class="ticket">Free Admission</b></div>
                                        {/if}
                                        {if ticketsurl != ""}
                                        <a class="redButton" href="{ticketsurl}" target="_blank" style="width:100%">buy tickets</a>
                                        {/if}
                                    </div>

                                    <div class="row hide-for-small social-hover" >
                                        {artist}
                                            <ul class="social-desktop">
                                                {if fb_page !=""}<li class="four columns" style="padding:0;"><h4><a href="http://{fb_page}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_facebook.png" alt="Facebook Link"></a></h4> </li>{/if}
                                                {if twitter_link !=""}<li class="four columns" style="padding:0;"><h4><a href="http://{twitter_link}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_twitter.png" alt="Twitter Link"></a></h4> </li>{/if}
                                                {if website_url !=""}<li class="four columns" style="padding:0;"><h4><a href="http://{website_url}" target="_blank"> <img src="/assets/images/site_assets/artist/artist_website.png" alt="Website Link"></a></h4> </li>{/if}
                                            </ul>
                                        {/artist}
                                    </div>
                                </div>
                            </div> <!-- end top row with image and gig detials -->

                            <div class="row hide-for-small" > <!-- row for artist name as a header -->
                                <div class="twelve columns"> <h1> {artist} {artist_name} {/artist} </h1> </div>
                            </div> <!-- end row -->

                            <div class="row" style="margin-top:10px;"> <!-- row for video and bio -->



                            <div class="twelve columns">
                                {artist}

                                     {exp:channel_videos:videos entry_id='{entry_id}'}
                                        {if video:count}                           
                                            <div class="seven columns hide-for-small video-container" style="padding-right:10px; margin-right: 10px;">  <!--start video-->
                                                <iframe width="420" height="315" src="//www.youtube.com/embed/{video:service_id}?HD=1;rel=0;showinfo=0;controls=0" frameborder="0" allowfullscreen ></iframe>
                                            </div> 
                                        {if video:no_videos}
                                        {/if}
                                    {/exp:channel_videos:videos}
                                    <!--end video-->

                                    <div class="hide-for-small" style="margin-left:20px; margin-right:20px;">  
                                        {if lineup != ""}<h4 class="artist-lineup" style="margin-top: 0px;">{lineup}</b></h4>{/if}
                                        {artist_bio} 
                                        <div class="hide-for-small" style="padding-left:0px;">  
                                            <div class="fb-like" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true"></div>
                                            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{title} @ {site_name}">Tweet</a>
                                        </div>
                                    </div> <!--artists bio-->

                                    <!-- mobile specific view stuff -->
                                    <div class="show-for-small">
                                        <a class="goldButton reveal show-for-small"> artist info </a>

                                        <div class="revealable" style="display:none;"> 
                                            {if lineup != ""}<h4 class="artist-lineup" style="padding-top:15px;">{lineup}</b></h4>{/if}
                                            {artist_bio} 
                                        </div>
                                    </div>

                                    {exp:channel_videos:videos entry_id='{entry_id}'}
                                        {if video:count}
                                            <div class="show-for-small" > 
                                                <a class="goldButton reveal" style="width:100%; margin-top: 20px;">video</a>
                                                <div class="video-container revealable" id="video-container" style="display:none; margin-top: 10px;"> 
                                                    <iframe width="420" height="315" src="//www.youtube.com/embed/{video:service_id}?HD=1;rel=0;showinfo=0;controls=0" frameborder="0" allowfullscreen ></iframe>
                                                </div>
                                            </div> 
                                        {if video:no_videos}
                                        {/if}
                                    {/exp:channel_videos:videos}
                                    <!-- end mobile specific view -->

                                    <div class="show-for-small" style="margin-top:20px;"> 
                                        <div class="fb-like" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true"></div>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{title} @ {site_name}">Tweet</a>
                                    </div>
                                </div>
                            {/artist}
                        </div> <!-- end row -->
                    </li>
                {/artist_listing }
            </ul>
        </div>
        </div>
    </div>
</div>
{/exp:channel:entries}
<!-- script included to resize the youtube videos -->

<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=502071923210294";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

