
<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">
        {exp:channel:entries channel="events" limit ="1"}
        {categories} <h1>{category_name}</h1> {/categories}
        {/exp:channel:entries}
    </div>
</div>

{exp:channel:entries channel="events"}
<div class="row">
    <div class="black-bg twelve columns" style="margin-bottom:20px;">
        <div class="red-bg hide-for-small event-title"><h3 style="color:#ffffff">{title}</h3></div>
            <div class="grey-bg hide-for-small twelve columns">
                <div class="four columns hide-for-small" style="outline: 5px solid red; padding-left:0px; margin-left:0px; padding-right:0px;"> 
                    {fringe_images}
                        {exp:ce_img:pair src="{fringe_image}"   crop="yes"}
                            <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" />
                        {/exp:ce_img:pair}
                    {/fringe_images}                                         
                </div> <!-- closes four columns left--> 

                <div class="eight columns hide-for-small"> 
                    <h4 class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                        {fringe_venue_name}
                    </h4> 

                    <h4 class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                        {if fringe_festival_date != ""}
                            {fringe_festival_date format="%D %d%S %M"} @ {fringe_festival_time format="%g:%i"}
                        {if:else}
                            Throughout the weekend
                        {/if}
                    </h4>

                    <h4 class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                        {if fringe_type == "Free"}
                            Free Admission
                        {if:else}
                            {fringe_other}
                        {/if}
                    </h4>

                    <div class="hide-for-small">{fringe_festival_text}</div>
                    <div class="hide-for-small">
                        {google_map_co_ordinates_events}
                            {if total_rows >= 1}
                                <a class="goldButton maps-reveal accom-map" style="width:100%; margin-left:0px; margin-bottom:15px;;">map</a>
                                <div class="map-display map-revealable" style="display:none; height:auto; width:100%;  outline:4px solid green;">  
                                    <div class="map-canvas" style="margin-bottom: 3%; height:400px;" data-lat="{latitude}" data-lng="{longitude}"></div>    
                                </div> <!-- END MAPS REVEAL ROW -->
                            {/if}
                        {/google_map_co_ordinates_events}
                    </div>
                </div> <!-- closes eight columns right-->      
            </div> 
        </div> <!-- closes twelve column container -->
    
        <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="show-for-small">
            <div class="twelve columns grey-bg" style="padding-left:0px; padding-right:0px;">
                <div class="grey-bg">
                    <div class="red-bg event-title">
                        <h2>{title}</h2>
                    </div>
                    <div class="mobile-two" style="padding-left:10px; padding-top:15px;"> 
                        {fringe_images}
                            {exp:ce_img:pair src="{fringe_image}"  width="170px" height="160px" crop="yes"}
                                <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" />
                            {/exp:ce_img:pair}
                        {/fringe_images}                                
                    </div> 

                    <div class="mobile-two show-for-small" style="padding-right:0px; padding-left:0px;"> 
                        <h4 class="event-subtitle" style="font-size:13px;">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                            {fringe_venue_name}
                        </h4> 

                        <h4 class="event-subtitle" style="font-size:13px;">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                            {if fringe_festival_date != ""}
                                {fringe_festival_date format="%D %d%S %M"} @ {fringe_festival_time format="%g:%i"}
                            {if:else}
                                Throughout the weekend
                            {/if}
                        </h4>

                        <h4 class="event-subtitle" style="font-size:13px;">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                            {if fringe_type == "Free"}
                                Free Admission
                            {if:else}
                                {fringe_other}
                            {/if}
                        </h4>
                    </div>

                    <div class="mobile-four columns" >
                        {if google_map_co_ordinates_events}
                            <a class="accom-map-reveal"> </a>
                            <div class="mobile-four columns accom-map-revealable" style="display:none; height:auto; padding:0 2% 0 2%;">    
                            <div class="map-canvas" style="margin-left:0px; margin-bottom: 3%; height:250px;" data-lat=" {google_map_co_ordinates_events}  {latitude} {/google_map_co_ordinates_events}" data-lng="{google_map_co_ordinates_events} {longitude} {/google_map_co_ordinates_events}"></div>
                        {/if}

                        <div>{fringe_festival_text}</div>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
</div>
{/exp:channel:entries}

