        <div class="row" id="footer">
          <div class="twelve columns centered">
            {if last_segment == 'fringe-festival'}   {embed="includes/.sponsors-slider"}  {/if}
                <div class="advert row">
                    <div id="mpu" class="twelve columns centered mpustyle" style="margin-bottom:15px;"></div>
                </div>
          </div>
        </div>

        <div class="twelve columns foot-container hide-for-small"  >  <!--Start Desktop Footer -->
            <div class="row footer">
                <div class="twelve columns">
                     <div class="three columns logo-hover">
                        <a href="http://www.drinkaware.ie/" target="_blank"><img src="/assets/images/site_assets/footer/footer_enjoysens.png" alt="enjoy guinness sensibly" style="max-width:100%;"></a>
                    </div>

                    <div class="one columns logo-hover">
                        <a href="http://www.corkcity.ie/"  target="_blank" ><img src="/assets/images/site_assets/footer/footer_council.png" alt="Cork County Council" style="max-width:100%;"></a>
                    </div>

                    <div class="two columns logo-hover">
                        <a href="http://www.failteireland.ie/" class="" target="_blank" ><img src="/assets/images/site_assets/footer/footer_failte_ireland.png" alt="Failte Ireland" style="max-width:100%;"></a>

                    </div>

                    <div class="two columns logo-hover">
                        <a href="http://www.thegatheringireland.com/" class="" target="_blank" ><img src="/assets/images/site_assets/footer/footer_gathering.png" alt="The Gathering" style="max-width:100%;"></a>
                    </div>

                    <div class="four columns  social-hover" style="float:right;">
                     <a href="https://www.facebook.com/GuinnessIreland" target="_blank"  >
                            <img style="float:right;"src="/assets/images/site_assets/footer/footer_facebook.png" alt="Guinness Facebook" style="max-width:100%;">
                        </a>
                        <a href="https://twitter.com/guinnessireland" target="_blank"  >
                            <img style="float:right; padding-right:20px;" src="/assets/images/site_assets/footer/footer_twitter.png" alt="Twitter Facebook" style="max-width:100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div> <!--End Desktop Footer -->


        <div class="twelve columns foot-container show-for-small" id="footer">  <!--Start Mobile Footer -->
            <div class="row footer">

                <div class="three columns logo">
                    <a href="http://www.drinkaware.ie/" target="_blank"><img src="/assets/images/site_assets/footer/footer_enjoysens.png" alt="enjoy guinness sensibly" style="max-width:100%;"></a>
                </div>

                <div class="three columns logo">
                    <a href="http://www.failteireland.ie/" class="" target="_blank" ><img src="/assets/images/site_assets/footer/footer_failte_ireland.png" alt="Failte Ireland" style="max-width:100%;"></a>

                    <a href="http://www.corkcity.ie/"  target="_blank" ><img style="padding-left:20px" src="/assets/images/site_assets/footer/footer_council.png" alt="Cork County Council" style="max-width:100%;"></a>
                </div>

                <div class="two columns logo">
                    <a href="http://www.thegatheringireland.com/" class="" target="_blank" ><img src="/assets/images/site_assets/footer/footer_gathering.png" alt="The Gathering" style="max-width:100%;"></a>
                </div>

                <div class="row">
                    <div class="show-for-small mobile-two columns centered social" style="text-align:center; float:none;">
                        <a href="https://www.facebook.com/GuinnessIreland" target="_blank" class="facebook" >
                            <img src="/assets/images/site_assets/footer/footer_facebook.png" alt="Guinness Facebook" style="max-width:100%;">
                        </a>
                        <a href="https://twitter.com/guinnessireland" target="_blank" class="twitter" >
                            <img src="/assets/images/site_assets/footer/footer_twitter.png" alt="Twitter Facebook" style="max-width:100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div> <!--End Mobile Footer -->

        <script src="/assets/javascripts/foundation.min.js"></script>
        {if last_segment != ''}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYYYO5dJ5UY3o-vXf2VCQN_Ou2bQLJ6OY&sensor=true"></script>
        {/if}
        {if last_segment == '' || last_segment == 'fringe-festival'}
        <script src="/assets/javascripts/responsiveslides.min.js"></script>
        {/if}
        {if last_segment == 'guinness-music-trail'}
        <script src="/assets/javascripts/waypoints.min.js"></script>
        <script src="/assets/javascripts/floating-1.12.js"></script>
        {/if}
        <script src="/assets/javascripts/syncHeight-master/jquery.syncHeight.min.js"></script>
        <script src="/assets/javascripts/video/jquery.fitvids.js"></script>
        <script src="/assets/javascripts/app.js"></script>
        {if last_segment == 'concerts' || last_segment == 'guinness-music-xtra'}
        <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script src="/assets/javascripts/maps/angular-google-maps.js"></script>
        <script src="/assets/javascripts/music/app.js"></script>
        {/if}
    </body>
</html>