<header>
	<div class="row">
		<div class="four columns hide-for-small" style="float:right; padding-right:0px; margin-top:0px;">
			<p class="fest-date" style="float:right; text-align:center;">october 25 - 28 2013</p>
		</div>
		<div class="four columns centered">
			<a href="/" class="logo">HOME</a>
		</div>
		<div class="fest-date three columns show-for-small" style="padding:0; padding-top:10px;">
			<p class="fest-date-small">october 25-28 2013</p>
		</div>
	</div>
</header>