<div class="row">
	<div class="twelve columns zero">
		<div class="nav-container">
			<a class="toggleMenu" href="#"> <img src="/assets/images/icons/menu.png"></a>
			<ul class="nav zero" id="horizontal-style">
				<li class="first-item home"><a class="first-item" href="/">Home</a></li>
				<li class="concerts"><a href="/concerts/">Concerts</a></li>
				<li class="musictrail">
					<a href="#">Guinness Music Trail</a>
					<ul class="sub">
						<li><a href="/guinness-music-xtra/">Music Xtra</a></li>
						<li><a href="/guinness-music-trail/">Music Trail</a></li>
					</ul>
				</li>
				<li class="events">
					<a href="#">Events</a>
					<ul class="sub">
						<li><a href="/events/jazz-fest-choir/">Jazz Choir</a></li>
						<li><a href="/events/street-music/">Street Music</a></li>
						<li><a href="/events/jazz-camp/">Jazz Camp</a></li>
						<li><a href="/events/singers-corner/">Singers Corner</a></li>
					</ul>
				</li>
				<li class="fringe"><a href="/fringe-festival/">Fringe Festival</a></li>
				<li class="info">
					<a href="#">Info</a>
					<ul class="sub">
						<li class="first"><a href="/info/travel-to-cork/">Travel To Cork</a></li>
						<li class="last"><a href="/info/accommodation/">Accommodation</a></li>
					</ul>
				</li>
				<li class="contact"><a href="/contact/">Contact</a></li>
			</ul>
		</div>

	</div>
</div>

