<div class="row">
	<div class="twelve columns zero slider-container" id="ie8" >
		{exp:channel:entries channel="home" dynamic="off"}
			<div class="rslides_container">
			 	<ul class="rslides" id="slider">
			 		{image_slider}
				 	<li>
				 		<a href="{slider_link}">
							{exp:ce_img:pair src="{image}" width="100%"}
								<img src="{made}" width="{width}" height="{height}" alt="{caption_main}" />
							{/exp:ce_img:pair}
							<p>
							<span class="captions"> {caption_main}
							<span class="mini-captions">{caption_sub}</span> 	
							</p>
						</a>
					</li>
					{/image_slider}
				</ul>
			</div>
		{/exp:channel:entries}
	</div>
</div>

