<div class="rslides_container" style="margin-bottom:15px;">
    <ul class="rslides sponser-slider" id="slider-sponsor">
        <li>
            <img src="/assets/images/sponsers/sponsors-1.jpg"/>
        </li>
        <li>
            <img src="/assets/images/sponsers/sponsors-2.jpg"/>
        </li>
        <li>
            <img src="/assets/images/sponsers/sponsors-3.jpg"/>
        </li>
        <li>
            <img src="/assets/images/sponsers/sponsors-4.jpg"/>
        </li>
    </ul>
</div>






