{embed="includes/.head"}

<style>

    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */


  img { 
    max-width:none; 
  }


</style>

</head>

<body>


<!--Start Header - shows logo & festival date -->
    {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
    {embed="includes/.navigation"}
<!--End Navigation -->

<div class="row black-bg">
    <div class="twelve columns">
        <h1>Guinness Music Trail</h1>
    </div>
</div>


<div class="row black-bg">
    <div class="twelve columns-zero red-bg">
    <div class="eight mobile-four columns pubs">
        {exp:channel:entries channel="pub_trail_gigs" dynamic="off" orderby="title" sort="asc"}

            <div class="music-trail-container" style="" id="slide_div{entry_id}">

                    <div class="twelve columns-zero show-for-small grey-bg" style="margin-bottom:20px; padding-bottom:15px;"> 
    
                        <div class="twelve columns" style="padding-bottom:10px;"> 
                            {venue_pub_trail_gig} 
                                <h2>{venue_name}</h2>
                                <h6> {venue_address}</h6>
                                    <div class="mobile-four" style="float:left; padding:0;"> 
                                        {if venue_twitter_link !=""}<a href="{venue_twitter_link}" target="_blank"><img src="/assets/images/site_assets/accommodation/pub_twitter.png" alt="Twitter"></a>{/if}
                                        {if venue_facebook_link !=""}<a href="{venue_facebook_link}" target="_blank"><img src="/assets/images/site_assets/accommodation/pub_face.png" alt="Facebook"></a>{/if}
                                        {if venue_website_url !=""}<a href="{venue_website_url}" target="_blank"><img src="/assets/images/site_assets/accommodation/accom_web.png" alt="Website"></a>{/if}
                                        {if venue_phone !=""}<a href="tel:{venue_phone}" target="_blank"><img src="/assets/images/site_assets/accommodation/accom_phone.png" alt="Phone"></a>{/if}
                                    </div>
                            {/venue_pub_trail_gig}
                        </div>
                            
                        <a class="icon reveal pub-trail" style=""></a>
                            
                        <div class="revealable" style="display:none; width:100%; padding-left:20px; padding-right:20px; ">


                        {if artist_list:total_rows == 0}
                            <div class="twelve columns centered"> <h3 class="no-listing" style="text-align: center;"> full listing coming soon </h3> </div>
                        {/if}
                    
                            {artist_list}
                                <dl>
                                    <h3>{if gig_date !=""} {gig_date format="%D %d%S"} <hr class="pub-sched-date"> </h3> {/if}</h3>
                                    <h6 style="padding-left:5px;">{time} - {artist}</h6><hr style="width:100%">
                                </dl>
                            {/artist_list}
                            <a class="goldButton maps-reveal" style="width:100%; padding-bottom:10px; margin-bottom:20px;" > map </a>
                                <div class="map-display map-revealable" style="display:none; width:100%; height:350px; padding-top:10px;">
                                    <div class="map-canvas" data-lat="{venue_pub_trail_gig}{google_map_co_ordinates}{latitude}{/google_map_co_ordinates}" data-lng="{google_map_co_ordinates}{longitude}{/google_map_co_ordinates}{/venue_pub_trail_gig}">
                                    </div>
                                </div>
                        </div>
                            
                </div><!-- END MOBILE VIEW CONTAINER -->


                <div class="hide-for-small"> <!-- START DESKTOP VIEW CONTAINER -->
                    
                    {venue_pub_trail_gig}
                    <div class="twelve columns red-bg" style="padding-left:0px; padding-top:0px; padding-bottom:0px;">
                        <div class="seven columns" style="padding-left:0px; padding-top:0px; padding-bottom:0px;">
                            <h3 class="pub-title">{venue_name}</h3>
                            <h6 class="pub-sub-title"> {venue_address}</h6>
                            <h6 class="pub-last-title">{venue_phone}</h6>
                        </div>
                        
                        <div class="five columns" style="padding-right:0px; padding-top:15px; margin-right:0px;">                    
                            {if venue_website_url !=""}
                                 <a href="{venue_website_url}" target="_blank">
                                    <img style="float:right; width:46px;height:46px;vertical-align:middle"  src="/assets/images/site_assets/accommodation/accom_web.png" alt="Website">
                                </a>
                            {/if}

                            {if venue_twitter_link !=""}
                                <a href="{venue_twitter_link}" target="_blank">
                                    <img style="float:right;  width:46px;height:46px;vertical-align:middle" src="/assets/images/site_assets/accommodation/pub_twitter.png" alt="Twitter">
                                </a>
                            {/if}

                            {if venue_facebook_link !=""}
                                <a href="{venue_facebook_link}" target="_blank">
                                    <img style="float:right; width:46px;height:46px;vertical-align:middle"  src="/assets/images/site_assets/accommodation/pub_face.png" alt="Facebook">
                                </a>
                            {/if}
                        </div>
                    </div>
                    {/venue_pub_trail_gig}

                    <span class="grey-bg" style="display:block; margin-bottom:20px; padding-bottom:5px;">

                        {if artist_list:total_rows == 0}
                            <div class="twelve columns"> <h3 class="no-listing" style="padding-top: 10px;"> full listing coming soon </h3> </div>
                        {/if}

                    {artist_list}

                        <div>
                            <div class="twelve columns">                                
                                {if gig_date !=""}<h3 class="pub-date">{gig_date format="%l %d%S"} <hr class="pub-sched-date"> </h3> {/if}
                            </div> 

                            <span class="twelve columns" style="padding:0;">
                                
                                <div class="five columns offset one trail-gig pub-time" style="padding-left: 30px;">  {time} </div> 
                                <div class="six columns trail-gig pub-artist" style="padding-bottom:12px;"> {artist} </div>
                                <hr class="pub-sched" style="margin-left: 20px; margin-right: 20px;"> 
                            </span>
                        </div>

               

        

                    {/artist_list}

                    <a class="goldButton maps-reveal pub-map" style="width:96%;" >map </a>
                    <div class="map-display map-revealable" style="display:none; height:350px;  padding:1% 4% 4% 4%;"> 
                        <div class="map-canvas" data-lat="{venue_pub_trail_gig}{google_map_co_ordinates}{latitude}{/google_map_co_ordinates}" data-lng="{google_map_co_ordinates}{longitude}{/google_map_co_ordinates}{/venue_pub_trail_gig}"></div>
                    </div>

                    </span> 


                </div> <!-- END DESKTOP VIEW CONTAINER -->

            </div> <!-- END MUSIC CONTAINER -->

        {/exp:channel:entries }
     
    </div>  <!-- END EIGHT COLUMNS -->

    <div class="four columns trail-venues grey-bg hide-for-small" id="floatMenu" >

        <!-- venue list split up into columns - check columnbo docs for options --> 

        {exp:columnbo:lists columns="2" open="<ul>" close="</ul>" delimiter="</li>"}
            {exp:channel:entries channel="pub_trail_gigs" dynamic="off" orderby="title" sort="asc"}
                <li><a href="#slide_div{entry_id}">{venue_pub_trail_gig}{venue_name}  {/venue_pub_trail_gig}</a></li>
             {/exp:channel:entries }
        {/exp:columnbo:lists}

    </div> <!-- END FOUR COLUMNS -->
</div>


</div>  <!-- closes content row -->


        
<!--============================================================
ADD IN ADVERT CODE HERE
============================================================--> 
                
    
{embed="includes/.footer"}