@font-face {
    font-family: 'Bliss2Heavy';
    src: url('bliss2h.eot');
    src: url('bliss2h.eot') format('embedded-opentype'),
         url('bliss2h.woff') format('woff'),
         url('bliss2h.ttf') format('truetype'),
         url('bliss2h.svg#Bliss2Heavy') format('svg');
}
