{embed="includes/.head"}

<style>
    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */

  img { 
    max-width:none; 
  }
</style>

</head>

<body>


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->


    <!--Heading Row -->
    <div class="row black-bg">
        <div class="twelve columns">
            <h1>accommodation - hotels</h1>
        </div>
    </div>

    <!-- Content - Mobile & Desktop --> 

    <div class="row" >
        <div class="twelve columns black-bg" style="padding-left:0; padding-right:0;">

            {exp:channel:entries channel="accomodation"  orderby="title" sort="asc"}

            <?php if (1 === {count}): ?>
                <div style="overflow: hidden;">
            <?php endif; ?>

            <!--    -->

            <div class="six columns" >          
                <div class="hide-for-small" >
                    <div class="grey-bg" style="margin-bottom:20px;">
                        <div class="equalheight"> 
                            <div class="red-bg">
                                <h3 class="indent-title">{title}</h3>
                                <h6 class="indent-last-title"> {accomodation_address}</h6>
                            </div>

                            <div class="row">
                                <div class="five columns accomm-image"> 
                                    {exp:ce_img:pair src="{accomodation_image}"  width="170" height="170" crop="yes"}
                                        <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" />
                                    {/exp:ce_img:pair}
                                </div>  <!-- END FOUR COL IMAGE -->

                                <div class="seven columns">
                                    <div class="accom-contacts phone">

                                       <img style="width:49px;height:48px;vertical-align:middle" src="/assets/images/site_assets/accommodation/accom_phone.png" alt="Phone">
                                        <span >{accomodation_phone}</span>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="accom-contacts">
                                        <a href="{accomodation_web_link}" target="_blank" class="social"> <img style="width:49px;height:48px;vertical-align:middle" src="/assets/images/site_assets/accommodation/accom_web.png" alt="Website"></a>
                                        <span>Website</span>
                                    </div>
                                </div>
                            </div>

                            <div class="accomm-info text-body" style="margin-bottom:10px;"> {accomodation_info}</div>
                        </div>

                        <a class="goldButton maps-reveal accom-map" style="width:96%;">map</a>
                        <div class="map-display map-revealable" style="display:none; height:350px; padding:0% 4% 4% 4%;"> 
                            <div class="map-canvas" data-lat=" {google-map-co-ordinates}  {latitude} {/google-map-co-ordinates}" data-lng="{google-map-co-ordinates}  {longitude} {/google-map-co-ordinates}"></div>
                        </div>
                    </div> <!-- CLOSES GREY CONTAINER  -->

                </div> <!-- CLOSES CONTENT CONTAINER THAT HIDES FOR MOBILE  -->
            </div> <!-- CLOSES SIX COLUMNS  -->

            <!-- -->

            <?php if ({count} % 2 === 0): ?>
                </div><div style="overflow:hidden;">
            <?php endif; ?>

             <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
          
                <div class="show-for-small">
                <div class="row">
                    
                    <div class="twelve columns grey-bg" style="margin:0 30px 20px 30px; padding:0;">

                        <div class="twelve columns accom-top-container" style="padding:0; margin:0; padding-bottom:10px;" > 
                   
                            <div class="four mobile-two columns" style="padding:10px 0 0 10px;">
                                {exp:ce_img:pair src="{accomodation_image}"  max="170" crop="yes"}
                                    <img src="{made}" width="{width}" height="{height}" style="max-width:100%;"/>
                                {/exp:ce_img:pair}
                            </div>

                            <div class="four mobile-two columns" style="margin-bottom:10px; pading-right:0px;">
                                <h3 class="smaller">{title}</h3>
                                <p style="margin-right:10%;"> {accomodation_address}</p> 
                            </div>
                        </div>
                
                        <a class="accom-map-reveal" style="margin-top:-10px;"> </a>

                        <div class="mobile-four columns accom-map-revealable" style="display:none; height:auto; padding-bottom:0px; padding-left:10px; padding-right:10px; margin-bottom: 10px;"> 
                            <div class="map-canvas" style="margin-bottom: 3%; height:250px;" data-lat=" {google-map-co-ordinates}  {latitude} {/google-map-co-ordinates}" data-lng="{google-map-co-ordinates}  {longitude} {/google-map-co-ordinates}"></div>
                            <div class="text-body" style="margin-bottom:20px;">{accomodation_info}</div>
                            <div class="row">
                                <div class="mobile-four columns"><a href="{accomodation_phone}" class="social" target="_blank">
                                    <img src="/assets/images/site_assets/accommodation/phone-accom.png"  alt="Phone"></a>
                              <a href="{accomodation_web_link}" class="social" target="_blank"> 
                                    <img src="/assets/images/site_assets/accommodation/web-accom.png" style="padding-left:30px;" alt="Website"></a>
                                </div>
                            </div>
                     
                        </div>
                    </div> <!-- CLOSES SECOND TWELVE COLUMNS -->
                    
                </div> <!-- CLOSES ROW -->
            </div> <!-- CLOSES CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->


            {/exp:channel:entries}

            </div> <!-- CLOSES  --> 
        </div>	     
    </div>

    <!--Bottom Row -->
    <div class="row black-bg">
        <div class="twelve columns">
            <h1>accommodation - BED &amp; BREAKFASTS</h1>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px">
        <div class="twelve columns black-bg" >
            Many visitors to Ireland love the relaxed ‘home from home’ comforts of staying in an approved B&amp;B.
            <h3> Log onto: </h3>
            <a href="http://www.bandbireland.com/search/Cork/Cork_City/page1.html" target="_blank" class="bb-link"> LOGO HERE</a>
        </div>
    </div>



{embed="includes/.footer"}

