{embed="includes/.head"}



</head>

<body>


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->




    <!-- Content - Mobile & Desktop --> 

    <div class="row" >
        <div class="black-bg twelve columns">
            <h1>Travel To Cork</h1>
           <div class="row" >
            <div class="six columns">          
                 <!--AIR-->
                 <div class="grey-bg" style="margin-bottom:20px;">
                     <div class="red-bg">
                        <h3 class="indent-title indent-last-title">AIR</h3>                               
                    </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="six columns"> 
                                <p class="travel-text"> <a href="http://www.corkairport.com/home.aspx" target="_blank">www.corkairport.com</a> </p>
                                
                                <p class="travel-text"><a href="http://www.aerarann.com/" target="_blank">www.aerarann.com</a> </p>

                                <p class="travel-text"><a href="http://www.aerlingus.com/en-US/home/index.jsp" target="_blank">www.aerlingus.com</a></p>
                                
                                <p class="travel-text"><a href="http://www.ryanair.com/ie" target="_blank">www.ryanair.com</a></p>
                            </div>
                        </div>
                    </div>
              

                <!--FERRY-->
                <div class="grey-bg" style="margin-bottom:20px;">
                    <div class="red-bg">
                        <h3 class="indent-title indent-last-title">FERRY</h3>                               
                    </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="six columns"> 
                                <p class="travel-text"><a href="http://www.stenaline.ie/ferry/" target="_blank">www.stenaline.ie</a></p>

                                <p class="travel-text"><a href="http://www.irishferries.com/en/to-britain-from-ireland/" target="_blank">www.irishferries.com</a> </p>     
                            </div>
                        </div>
                </div>
            </div> 


            
            <div class="six columns">   
                <!--BUS-->       
                <div class="grey-bg" style="margin-bottom:20px;">
                   <div class="red-bg">
                        <h3 class="indent-title indent-last-title">BUS</h3>                               
                    </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="six columns"> 
                                <p class="travel-text"><a href="http://www.buseireann.ie/" target="_blank">www.buseireann.ie</a></p>
                            </div>  
                        </div>
                </div> 


                <!--TRAIN-->
                <div class="grey-bg" style="margin-bottom:20px;">
                    <div class="red-bg">
                        <h3 class="indent-title indent-last-title">TRAIN</h3>                               
                    </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="six columns"> 
                                <p class="travel-text"><a href="http://www.irishrail.ie/" target="_blank">www.irishrail.ie</a></p>
                            </div> 
                        </div>   
                </div>   
            </div> <!-- CLOSES SIX COLUMNS  -->
            </div>
        </div> <!-- CLOSES TWELEVE --> 
    </div>       
   




{embed="includes/.footer"}

