{embed="includes/.head"}

<style>

    /*
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation
    the widget for moving around the map is removed without this rule. However, a rule
    declaring max-width:100%; is required for the images on this page then
    */


  img {
    max-width:none;
  }


</style>

</head>

<body ng-app="mapComponentsApp">


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->

<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">
        <h1>Fringe Festival</h1>
    </div>
</div>


<!-- header info for the jazz camp page -->

{exp:channel:entries channel="fringe_festival_events" dynamic="off" search:event_type="parent_entry" disable="member_data|category_fields|pagination"}
<div class="row">
    <div class="black-bg twelve columns">
        <div class="twelve columns jazz-camp">
            {fringe_festival_text}
        </div>
    </div>
</div>
{/exp:channel:entries}



<!-- indiv fringe entires -->
{exp:channel:entries channel="fringe_festival_events" dynamic="off" orderby="title" sort="asc" search:event_type=" not parent_entry" disable="member_data|category_fields|pagination"}
    <div class="row">
        <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="black-bg twelve columns" style="margin-bottom:20px;">

            <div class="red-bg hide-for-small event-title">
                <h3 style="color:#ffffff">{title}</h3>
                <h4>{sub_title}</h4>
            </div>

            <div class="grey-bg hide-for-small twelve columns" style="padding-bottom: 20px;">

                <div class="four columns hide-for-small" style="padding-left:0; margin-left:0px; padding-top:2%; padding-right:2%;">
                    {fringe_images}
                        {exp:ce_img:pair src="{fringe_image}" width="340" height="215" crop="yes" allow_scale_larger="yes"}
                            <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" alt="{fringe_image_title}"/>
                        {/exp:ce_img:pair}
                     {/fringe_images}
                </div> <!-- closes four columns left-->

                <div class="eight columns zero hide-for-small">
                    <h4 class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                        {fringe_venue_name}
                    </h4>

                    <h4 class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                        {if fringe_festival_date != ""}
                            {fringe_festival_date format="%D %d%S %M"}
                        {if:else}
                            Throughout The Weekend
                        {/if}
                        {if fringe_festival_time } @
                            {fringe_festival_time format="%H:%i"}
                        {/if}
                    </h4>

                    {if fringe_type == "Free"}

                    {if:else}
                        <h4 class="event-subtitle">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                            {fringe_other}
                        </h4>
                    {/if}
                  
                </div> <!-- closes eight columns right-->

                <div class="eight columns hide-for-small" style="float:right">{fringe_festival_text}</div>

                <div class="eight columns zero hide-for-small" style="float:right">
                    {google_map_co_ordinates_events}
                        {if total_rows >= 1}
                            <a class="goldButton maps-reveal accom-map" style="width:100%; margin-left:0px; margin-bottom:15px;;">map</a>
                            <div class="map-display map-revealable" style="display:none; height:auto; width:100%;">
                                <div class="map-canvas" style="margin-bottom: 3%; height:400px;" data-lat="{latitude}" data-lng="{longitude}"></div>
                            </div> <!-- END MAPS REVEAL ROW -->
                        {/if}
                    {/google_map_co_ordinates_events}
                </div> <!-- closes map container -->
            </div> <!-- closes twelve columns grey-bg container -->
            
        </div> <!-- closes twelve main container -->


        <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="twelve columns  show-for-small" style="margin-bottom: 20px">

            <div class="red-bg event-title ">
                <h3 style="color:#ffffff">{title}</h3>
                <h4>{sub_title}</h4>
            </div>

            <div class="twelve columns grey-bg" style="padding-left:0px; padding-right:0px;">

                <div class="mobile-four" style="padding-left:10px; padding-top:8px;">
                    {fringe_images}
                        {exp:ce_img:pair src="{fringe_image}" width="340" max_height="220" crop="yes" allow_scale_larger="yes"}
                            <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" alt="{fringe_image_title}"/>
                        {/exp:ce_img:pair}
                    {/fringe_images}
                </div>

                <div class="mobile-four show-for-small" style="padding-left:0; padding-right:5px; padding-top: 8px;">
                    <div class="twelve columns">
                        <div class="mobile-one zero">
                             <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                        </div>

                        <div class="mobile-three zero">
                            <h4 class="event-subtitle" style="margin: 13px;">
                                {fringe_venue_name}
                            </h4>
                        </div>
                    </div>

                    <div class="twelve columns">
                        <div class="mobile-one zero">
                            <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                        </div>


                         <div class="mobile-three zero">
                            <h4 class="event-subtitle" style="margin: 13px;">
                                {if fringe_festival_date != ""}
                                {fringe_festival_date format="%D %d%S %M"} {fringe_festival_second_date}
                                {if:else}
                                Throughout the weekend
                                {/if}
                            </h4>
                        </div>
                    </div>

                    {if fringe_type == "Free"}
                    {if:else}
                        <div class="twelve columns"> 
                            <div class="mobile-one zero">
                                <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                            </div>
                             <div class="mobile-three zero">
                                <h4 class="event-subtitle" style="margin: 13px;">
                                    {fringe_other}
                                </h4>
                            </div>
                        </div>
                    {/if}

                </div>

                <div class="mobile-four columns" style="padding:0 5px 0 5px;">
                    <a class="accom-map-reveal" style="margin-top:25px; background-repeat:no-repeat;"> </a>
                    <div class="mobile-four columns accom-map-revealable" style="display:none; height:auto; padding:0 2% 0 2%;">
                        <div class="map-canvas" style="margin-left:0px; margin-bottom: 3%; height:250px;" data-lat=" {google_map_co_ordinates_events}  {latitude} {/google_map_co_ordinates_events}" data-lng="{google_map_co_ordinates_events} {longitude} {/google_map_co_ordinates_events}"></div>
                        <div>{fringe_festival_text}</div>
                    </div>
                </div>

            </div> <!-- closes twelve columns grey bg -->
        </div>

    </div> <!-- closes main row content -->
{/exp:channel:entries}
{embed="includes/.footer"}