@font-face {
    font-family: 'Bliss2Regular';
    src: url('bliss2r.eot');
    src: url('bliss2r.eot') format('embedded-opentype'),
         url('bliss2r.woff') format('woff'),
         url('bliss2r.ttf') format('truetype'),
         url('bliss2r.svg#Bliss2Regular') format('svg');
}
