/* GUINNESS JAZZ 2013 */
/* -----------------------------------------
  GLOBALS
----------------------------------------- */

html, body {
  height: 100%;
}


html {
  background: url("../images/site_assets/bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-family: 'Bliss2Regular';
  font-size:16px;
  line-height: 1.1;
 }

 hr.pub-sched{
  margin: 20px 25px -0 0px;
  padding-bottom:15px;
 }

  hr.pub-sched-date{
  margin: 20px 0 0 0px;
  padding-top: 5px;
 }

 hr.hr-sched {
  margin: 5px 0 10px;
 }

 a {
  color:white;
 }

 a:hover{
    color:#c7a55e;
 }

.text-body{
  font-family: 'Bliss2Regular';
  font-size: 14px;
  line-height:1.6;
}
/*-------------------------------------------
BACKGROUND COLORS
-------------------------------------------*/
.black-bg{
  background-color: #000000;

 }

.grey-bg{
  background-color: #2c2b2b;
}

.red-bg{
  background-color: #b5172c;
}

.red-bg-trans {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #b5172c;
}


/*-------------------------------------------
FOUNDATION FRAMEWORK OVERRIDES
-------------------------------------------*/
ul li ul, ul li ol{
  margin-left: 0px;
}

.column, .columns{
  padding: 0 20px;
}

.columns-zero{
  padding: 0;
}

.zero{
  padding: 0 !important;
}

ul, ol, dl{
  margin-bottom: 0px;
}

.mobile-half {
  width: 10% !important;
  float: left;
  padding: 0 15px;
}

.mobile-one-half {
  width: 40% !important;
  float: left;
  padding: 0 15px;
}


/*-------------------------------------------
FONT DEFINITIONS
-------------------------------------------*/

@font-face {
  font-family: 'Bebas';
  src: url(../font/Bebas/bebas___-webfont.eot);
  src: url(../font/Bebas/bebas___-webfont.eot?#iefix) format('embedded-opentype'),
       url(../font/Bebas/bebas___-webfont.woff) format('woff'),
       url(../font/Bebas/bebas___-webfont.ttf) format('truetype'),
       url(../font/Bebas/bebas___-webfont.svg#bebasregularx) format('svg');
  font-weight: bold;
  font-style: normal;

}


@font-face {
  font-family: 'Bliss2Heavy';
  src: url(../font/Bliss2H/bliss2h.eot);
  src: url(../font/Bliss2H/bliss2h.eot) format('embedded-opentype'),
       url(../font/Bliss2H/bliss2h.woff) format('woff'),
       url(../font/Bliss2H/bliss2h.ttf) format('truetype'),
       url(../font/Bliss2H/bliss2h.svg#Bliss2Heavy) format('svg');
       font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bliss2Regular';
  src: url(../font/Bliss2R/bliss2r.eot);
  src: url(../font/Bliss2R/bliss2r.eot) format('embedded-opentype'),
       url(../font/Bliss2R/bliss2r.woff) format('woff'),
       url(../font/Bliss2R/bliss2r.ttf) format('truetype'),
       url(../font/Bliss2R/bliss2r.svg#Bliss2Regular) format('svg');
       font-weight: 400;
  font-style: normal;
}


/*-------------------------------------------
FONT GLOBALS STYLES
-------------------------------------------*/

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  word-spacing: 0.3em;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 20pt;
  font-family: 'Bebas';
  color:#ffffff;
  word-spacing: 0.3em;
  -webkit-font-smoothing: antialiased;
}

h3 {
  text-transform: uppercase;
  font-size: 23px;
  font-family: 'Bebas';
  color: #c7a55e;
  word-spacing: 0.3em;
  -webkit-font-smoothing: antialiased;
}

h4{
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 18px;
  word-spacing: 0.3em;
  color: #c7a55e;
  -webkit-font-smoothing: antialiased;
}

h5 {
  font-size: 0.7em;
  font-family: 'Bliss2Regular';
  color: #c7a55e;

}

h6 {
  font-size: 14px;
  color: #f1f1f1;
  font-family: 'Bliss2Regular';
  letter-spacing: 0.01em;
}

h6 span {
   font-family: 'Bliss2Heavy';
}


.event-title h4 {
color: #ffffff;
font-size: 0.9em;
}


/* font class for js change on accom page */
.white-change {
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*-------------------------
BUTTONS
--------------------------*/

/*start filter page buttons */

.filter-btn {
  color: #000000;
  background-color: #ffffff;
  height: 40px;
  line-height: 40px;
  width: 32%;

  background: #ffffff;
  border:none;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 1.3em;
}

.filter-btn:last-child {
  margin-right: 0;
}

.filter-btn:hover{
  color: #ffffff;
  background-color: #b5172c;
}

.filter-btn-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-filter-btn-container {
  position: relative;
  }

.sub-filter-btn {
  color: #000000;
  background-color: #c7a55e;
  background: #c7a55e;
  height: 40px;
  margin-right: 1%;
  text-transform: uppercase;
  border:none;
  box-shadow: none;
  font-family: 'Bebas';
  font-size: 1.3em;
}

.sub-filter-btn:hover {
  color: #ffffff;
  background-color: #b5172c;
}

/*end filter page buttons */

.button.secondary{
  background-color: #b5172c;
  color:#ffffff;
  border:none;
  border-top:none;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: -5%;
  margin-right:0px;
  width:110% !important;
  border:none;
}

.button.secondary:hover{
  background-color: #c7a55e;
  border-top:none;
  border:none;
}

.redButton{
  background-color: #b5172c;
  color:#ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bebas';
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px 0px 13px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;

}
.redButton:hover, .redButton:focus, .redButton:active{
  color: #2c2b2b;
  background-color: #c7a55e;
}

.goldButton {
  background-color: #c7a55e;
  color:#2c2b2b;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bebas';
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px 0px 13px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  background-image:url("../images/icons/plus-blck.png");
  background-position: 95%;
  background-position: top 10px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;

}

.goldButton:hover{
  color: #ffffff;
  background-color: #b5172c;
  background-image:url("../images/icons/plus.png");
  background-position: 95%;
  background-repeat: no-repeat;
}

.goldButton.embed-open:hover{
  background-image:url("../images/icons/minus.png");
}

.goldButton.reveal.open, .goldButton.embed-open {
  color: #ffffff;
  background: #b5172c;
  background-image:url("../images/icons/minus.png");
  background-position: 95%;
  background-repeat: no-repeat;
}

a.icon {
  display: block;
  height: 20px;
  width: 20px;
  position: relative;
  float:right;
  padding:0;
  top: -32px;
  right: 5%;
  background-image:url("../images/icons/plus.png");
}

a.icon.open{
  background-image:url("../images/icons/minus.png");
}

a.accom-map-reveal {
  display: block;
  height: 20px;
  width: 20px;
  position: relative;
  float:right;
  padding:0;
  bottom: 20px;
  right: 8%;
  background-image:url("../images/icons/plus.png");

}

a.accom-map-reveal.open {
 background-image:url("../images/icons/minus.png");

}

/*-------------------------
HOMEPAGE
--------------------------*/

.line-up{
  vertical-align:top;
}

.mybox.line-up {
  margin-bottom:3%;
  position: relative;

}

/*-------------------------
FOOTER
--------------------------*/

div.foot-container {
  background-color: #2c2b2b;
}

div.row.footer {
  background-color: #2c2b2b;
  padding-top: 2em;

  min-height: 80px;
  line-height: 80px;
}

div.logo {
 margin-right: 20px;
}

.social-hover{
  padding-right:0px;
  padding-top:10px;
}

.logo a img:hover,
.social a img:hover,
.social-hover a img:hover,
.logo-hover a img:hover,
a.social img:hover  {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

/* -----------------------------------------
  Music Page Layout
----------------------------------------- */


div.map-container-venue {
  margin-right: 10%;
  margin-bottom: 20px;
}


/* -----------------------------------------
   Sticky Nav
----------------------------------------- */


.columns.jazz-camp
{
  margin-left: 0px;
  padding-left: 0px;
}


/* ---------------------------------------------
Fest Date
-----------------------------------------------*/

div.fest-date {
  text-align: center;
  position: relative;
  bottom: 17px;
}

.advert img {
  max-width: 100%;
}

/* -----------------------------------------
  NAVIGATION STYLES
----------------------------------------- */

.nav-container {
  text-align: justify;
  margin-top:22px;
  width: 100%;
  font-family: 'Bebas';
  font-size:18px !important;
}

#horizontal-style a {
  display: block;
  text-align: center;
  /*padding-left: 9%;
  padding-right: 9%;*/
}
.toggleMenu {
  display:  none;
  background: #2c2b2b;
  padding: 10px 15px;
  color: #fff;
  width:100%;
  text-align:center;
}

.nav {
  list-style: none;
  *zoom: 1;
  background:#2c2b2b;
  width:100%;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav ul {
  list-style: none;
}

.nav a {
  padding: 10px 15px;
  color:#fff;
}

.nav li {
  position: relative;
  float: left;
  margin-right: 5%;
}

.nav li:last-child {
  margin-right: 0;
}

.nav > li > .parent:hover{
  color:#2c2b2b;
  background-image: url("../images/icons/downArrow-black.png");
  background-repeat: no-repeat;
}

.nav ul.sub li {
  float: none;

}

.nav > li:hover{
  background:#aaa;
  color:#2c2b2b !important;
}

.sub li a:hover
{
  background:#aaa;
}

.nav > li > .parent {
  background-image: url("../images/icons/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
}

.nav > li > a {
  display: block;
  /*margin: 0 9px;*/
}

.nav > li > a:hover {
  display: block;
  color:inherit;
  color:#2c2b2b !important;
}

.nav li  ul {
  position: absolute;
  left: -9999px;
}

.nav > li.hover > ul {
  left: 0;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

.nav li li  {
  float:left;
}

.nav li li a {
  display: block;
  background: #ffffff;
  position: relative;
  z-index: 1000000;
  border-top: 1px solid #2c2b2b;
  width: 155px;
  float:left;
  color:#2c2b2b;
}



.nav li li li a {
  background:#249578;
  z-index:200;
  border-top: 1px solid #ffffff;
}

/* fix for equally spaced responsoive nav */


.home  {
  width: auto;
}
.concerts  {
  width: auto;
}

.musictrail  {
  width: auto;
}

.events  {
  width: auto;
}

.fringe {
  width: auto;
}

.info  {
  width: auto;
}

.contact  {
  width: auto;
}


/* Media query for navigation */
@media only screen and (min-width: 0px) and  (max-width: 760px) {
  .nav > li {
    float: left;
    border-top: 1px solid white;
  }

  .nav li li a {
    display: block;
    background: #ffffff;
    position: relative;
    z-index:100;
    border-top: 1px solid #2c2b2b;
    width:100%;
    color:#2c2b2b;
  }

  .nav ul {
    display: block;
    width: 100%;
  }

  .nav > li.hover > ul , .nav li li.hover ul {
    position: static;
  }

  #horizontal-style {
    list-style: none;
    width: 100%;
  }

  #horizontal-style li {
    position: relative;
    display: table;
    width:100%;
    float: none;
  }

  #horizontal-style a {
    display: block;
    text-align: left;
    /*margin: 0 10px;*/
  }

}
/* -----------------------------------------
   END OF NAVIGATION GREEN
----------------------------------------- */

/* -----------------------------------------
   Ez Load
----------------------------------------- */
.list{
  list-style: none;
}

/* -----------------------------------------
   End Ez Load
----------------------------------------- */


/* overide for the message page when user sends a mesage */

.mail-msg-container ul {
  list-style: none;

}


/* -----------------------------------------
   Slider
----------------------------------------- */

.slider-container {
  position: relative;
}

.rslides {
  list-style:none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  background : #000;
  background-color: #000;
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0 auto;
  height:auto;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_container {
  padding-bottom:0px;
  margin-bottom:0px;
  position: relative;
  float: left;
  width: 100%;
  }


.large-btns .captions {
  position:absolute;
  display: block;
  z-index: 2;
  font-size: 50px;
  text-shadow: none;
  color: #fff;
  padding-left:4%;
  bottom:58%;
  text-align: left;
  max-width: none;
  width:20%;
  height:30%;
  font-family: 'Bliss2Heavy';
  line-height: 1.1;
  font-size: 2.3em;
  text-transform: uppercase;
  }

  .large-btns .mini-captions {
  position:absolute;
  display: block;
  z-index: 2;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  margin-top:8px;
  padding-left:5%;
  max-width: none;
  font-family: 'Bliss2Heavy';
  width:70%;
  height:30%;
  }

/* for controller btns at the side */

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.large-btns_nav:focus {
  outline: none;
  }

.large-btns_tabs {
  position:absolute;
  left: 10%;
  bottom: 5%;
  z-index:4;
  }


.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 8px;
  }

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff;
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 15px;
  height: 15px;
  }

.large-btns_here a {
/*colour of onclick pager*/
background: #960e0d;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* end of controller btns at the side */

/*---------------------------------------
CIRCULAR CONTAINER FOR HOME PAGE AND
SEARCH RESULTS.
---------------------------------------*/

div.four.columns.artists {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/*
.name-container {
  min-height: 90px;
}
*/

.gig-container {
  position: relative;
}

.double-bill {
  font-family: 'Bebas';
  font-size: 1.2em;
  position: absolute;
  text-transform: uppercase;
  background: #b5172c;
  color: #ffffff;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-weight: bold;
  z-index: 100;
  top: 90%;
  bottom: 88%;
  right: 25%;
  left: 25%;
  min-height: 35px;
  line-height: 35px;
}

.image-wrap {
  border-radius: 50%;
  padding: 3%;
  overflow: hidden;
  cursor:pointer;
  box-shadow:
  inset 0 0 0 16px #000000,
  0 1px 2px #140e0e;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: solid 2px #c5a367;
}

/* artist link hover */
.artists:hover .image-wrap
{
    border: solid 2px #b5172c;
    cursor:pointer;
    color:#b5172c;
}

.artists:hover .artist-hover,
.artists:hover .db-alert,
.artists:hover .sold-out-circle-text h1
{
    cursor:pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color:#b5172c;
}

.artists:hover .image-wrap,
{
    border: solid 2px #b5172c;
    cursor:pointer;
    color:#b5172c;
}

.hover {
   color:#b5172c;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.circle {
border-radius: 50%;
}

.circle-image {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sold-out-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  overflow: hidden;
  background-color: #303030;
  opacity: 0.6;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.sold-out-circle-text {
  position: absolute;
  width: 90%;
  top: 40%;

}
.sold-out-circle-text h1 {
  color: #c7a55e;
}

.circle-image.thanks {
  padding-top:40%;
  padding-bottom: 40%;
  border: solid 10px #b5172c;
}

.circle-image.thanks:hover {
   border: solid 10px #c5a367;
}

.copy-container .db-alert {
  width: 80%;
  margin: 0 auto;
  padding: 0 !important;
  font-size: 0.7em;
  color: #c7a55e;
  padding:0 !important;
  font-size:0.7em;
}

 /*-------------------------
 LOGO
 --------------------------*/

 header div {
  height: 160px;
  margin-top:7px;
 }

 header .row {
  margin-bottom: 20px;
  margin-top: 15px;
 }

a.logo {
  margin: 0 auto;
  display: block;
  height: 147px;
  width: 147px;
  background:url("../images/site_assets/jazz_logo.png") no-repeat;
  text-indent: -100000px;
}

header p.fest-date {
  text-transform: uppercase;
  direction: ltr;
  background-color: #2c2b2b;
  font-family: 'Bebas';
  padding: 0px 5px 2px 5px;
  font-size: 20px;
  margin:0;
}


header p.fest-date-small {
  text-transform: uppercase;
  direction: ltr;
  background-color: #000000;
  font-family: 'Bebas';
  padding: 5px 0px 5px 0px;
  font-size: 20px;
  margin-right: none;
}


/* -----------------------------------------
   INDENTED HEADINGS - HEADING IN RED BOXES
----------------------------------------- */
.indent-title{
  padding-left:3%;
  padding-top:6px;
  margin-bottom:0px;
  color:#f1f1f1;

}

.indent-sub-title{
  padding-left:3%;
  margin-top:4px;
  margin-bottom:0px;
}

.indent-last-title{
  padding-left:3%;
  padding-bottom:6px;
  margin-top:4px;
}

/* -----------------------------------------
  EVENTS/FRINGE FEST
----------------------------------------- */

.event-subtitle{
  font-family: 'Bliss2Regular';
  color:#ffffff;
  text-transform: none;
  word-spacing: 0em;
  font-size: 18px;
  padding:0;
  font-weight:bold;
}

.event-title{
  padding-left:12px;
  padding-top:2px;
  margin-bottom:0px;
  color:#f1f1f1;
  padding-bottom:5px;
}

/* -----------------------------------------
   EVENTS/STREETMUSIC PAGE
----------------------------------------- */
.street-title{
  padding-left:10px;
  padding-top:6px;
  margin-bottom:0px;
  color:#f1f1f1;
}

.street-last-title{
  padding-left:10px;
  padding-bottom:6px;
  margin-bottom:0px;
  margin-top:4px;
}

.street-image{
    padding:0 0 10px 10px;
    margin:0;

}

.street-paragraph{
  font-family: 'Bliss2Regular';
  text-transform:none;
  color:#ffffff;
  font-size:16px;
  word-spacing:0em;
}

/* -----------------------------------------
   GUINNESS PUB TRAIL
----------------------------------------- */

/*FLOATING MENU */

div.four.columns.trail-venues ul:first-child{
  margin-left: 0px;
}
.trail-venues {
  position:relative;
  top:0px;
  z-index:100;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  color: #ffffff;
}

/*VENUE LIST*/
div.four.columns.trail-venues ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.four.columns.trail-venues ul:first-child {
  float: left;
  margin-right: 20px;
}

.pub-time{
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;

}

.pub-artist{
  font-size: 15px;
  line-height: 1.5;
}

.pub-date{
  padding-top:10px;
  padding-bottom:6px;
  margin-top:0px;
  margin-bottom:0px;
  color:#c7a55e;
  font-size:20px;
}

.pub-title{
  padding-left:3%;
  padding-top:6px;
  margin-top:0px;
  margin-bottom:0px;
  color:#f1f1f1;
}

.pub-sub-title{
  padding-left:3%;
  margin-top:4px;
  margin-bottom:0px;
}

.pub-last-title{
  padding-left:3%;
  padding-bottom:0px;
  margin-top:4px;
  margin-bottom:6px;
}

.pub-map{
  margin-left:2%;
  margin-right:2%;
  margin-bottom:5px;
  margin-top:15px;
}

/*MOBILE*/
.mobile-box{
  padding:0px 0px 10px 10px;

}




/* -----------------------------------------
   ACCOMMODATION PAGE
----------------------------------------- */

.accomm-image{
  padding-top:10px;
  padding-left:35px;
  padding-right:0px;
}

.accomm-info{
  padding-top:8px;
  padding-left:4px;
  padding-bottom:8px;
}

.accom-map{
  margin-left:2%;
  margin-right:2%;
  margin-bottom:3%;
}


.accom-phone{
  margin-left:10px;
}

.accom-phone-icon{
  margin-top:10px;
  padding-top:10px;
}

div.accom-contacts span {
  margin-left: 10px;
}

div.accomm-info {
  padding: 0px 20px 0 20px;
  margin-top: 10px;
}

div.accom-contacts.phone{
 padding-top: 20px;
}

.plus{
  font-family: 'Bebas';
  font-size: 35px;
  color:#ffffff;

}



/*---------------------------------------
TRAVEL PAGE
---------------------------------------*/
.travel-text{
  font-family: 'Bliss2Regular';
  color:#ffffff;
  text-transform: none;
  margin: 0;
  padding: 3% 0 0 3%;
  font-size: 18px;
  word-spacing: 0.3em;
  color: #c7a55e;
  font-weight: bold;
}

/*---------------------------------------
ARTIST DETAIL PAGE
---------------------------------------*/
.social-mobile{
  padding-top:10px;
}

.social-desktop{
  padding-top:15px;
}

.show-details {
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;


}

.show-details ul {
  list-style: none;
}

.show-details li {
  display: inline-block;
}



.date-container {
  margin: 0 auto;
  height: 130px;
  width: 130px;
  background-color: #ffffff;
  color: white;
  text-transform: uppercase;
  text-align: center;


}

.text-container {
  position: relative;
  padding:6px;
}

.text-container h1, h5 {
  margin: 0;

}

.circular {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

}

.day{
  font-family: 'Bliss2Heavy';
  font-size: 20px;
  color:#2c2b2b;
  font-weight: bold;
}

.date{
  font-family: 'Bliss2Heavy';
  font-size: 65px;
  color:#2c2b2b;
  font-weight: bold;
  margin-top:-25px;
}


.details{
  font-family: 'Bliss2Heavy';
  font-size: 18px;
  color:#c7a55e;
  margin-top:-10px;
  padding-top:20px;
}

.extra-time{
  font-family: 'Bliss2Heavy';
  font-size: 14px;
  color:#c7a55e;
  margin-top:-10px;
  padding-top:5px;
}

.ticket{
  font-family: 'Bliss2Heavy';
  font-size: 18px;
  color:#c7a55e;
  margin-top:-10px;
  padding-top:15px;
  padding-bottom:10px;
}

.lineup{
  font-family: 'Bliss2Regular';
  font-size: 17px;
  color:#bcb9b9;
}


.artist-lineup{
  font-family: 'Bliss2Regular';
  font-size: 17px;
  color:#c7a55e;
}


.concert-day-venue-gig {
  font-size: 17px;
}


/*---------------------------------------
END ARTIST DETAIL PAGE
---------------------------------------*/



/*---------------------------------------
POINTED BOX SELCT
----------------------------------------*/

.mybox {

    background-color:#b5172c;
    position:relative;
    margin-bottom:2%;
}

.home-pg-mybox-mob
{

  font-size: 1.8em;
  line-height: 1.8em;
  margin-top: 0;
  margin-bottom: 7%;
  text-align: left;
}

.mybox:after {
    content:"";
    border-color: #b5172c transparent transparent transparent;
    border-style:solid;
    border-width:25px;
    width:0;
    height:0;
    position:absolute;
    bottom:-40px;
    left:175px;
    z-index:1000;
}

/*---------------------------------------
TABS
----------------------------------------*/

.tabs.pill.two-up{
  margin-bottom:35px;
}


.tabs.two-up dd{
  padding-left: 0px;
  width: 49%
}

.tabs.two-up dd a{
  font-size: 1.4em;

}

dl.tabs.pill.two-up dd:first-child {

  margin-right: 2%;
}

.tabs.pill dd.active, .tabs li.active {
  margin-top: 0px;
  padding-bottom: 0px;
}

.tabs.pill dd a, .tabs li a{

  padding-top: 3%;
  padding-bottom: 3%;
  background: #c7a55e;
  color: #140e0e;
  font-family: 'Bebas';
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: auto;
}

.tabs.pill dd.active a, .tabs li.active a{

  margin-left: 0px;
  background: #b5172c;
  border-top: 0px;
  color: #ffffff;
  position:relative;
  border-left: none;
  border-right: none;
  z-index:0;

}


/*---------------------------------------
DROPDOWN ARROW
----------------------------------------*/
dd.active{
    margin-left: 0px;
    background: #b5172c;
    border-top: 0px;
    color: #ffffff;
    font-family: 'Bebas';

    position:relative;
    padding-bottom:0px;
    margin-bottom:0px;
    border-left: none;
    border-right: none;
}

dd.active:after{
    content:"";
    border-color: #b5172c transparent transparent transparent;
    border-style:solid;
    border-width:20px;
    position:absolute;
    top:85%;
    left:45%;
    z-index: 1;
}


/*---------------------------------------
END POINTED BOX SELCT
----------------------------------------*/

.map-canvas { height: 100%; width: 100%;}



/*---------------------------------------
END MUSIC TRAIL VENUE LIST
---------------------------------------*/
.bb-link {

display: block;
width: 170px;
height: 192px;
text-indent: -10000px; 
background: url("../images/B&B-Ireland.png") no-repeat;

}



/* -----------------------------------------
  CONTACT
----------------------------------------- */
input[type=text]{
  border: none;
  border-radius: 0px;
  height:40px;
  margin: 0 0 8px 0;
  padding:10px;
  font-family: 'Bliss2Heavy';
  font-size: 18px;
  color:#000000;
  text-transform: uppercase;
}

textarea{
  border: none;
  border-radius: 0px;
  padding:10px;
  height:150px;
  font-family: 'Bliss2Heavy';
  font-size: 18px;
  color:#000000;
  text-transform: uppercase;
  resize:vertical;
  overflow-y: scroll;
  z-index:-1;
  }

.form-container {
  padding: 15px;
  text-align: left;
  text-transform: uppercase;
  width:320px;
}

.circle-button {
  float:right;

  width: 80px;
  height: 80px;
z-index:100;
background-color:transparent;
  outline: none;
  border: none;
    background-image:url("../images/icons/send.png");
    background-position:  0px 0px;
    background-repeat: no-repeat;

}

 p.text{
  font-family: 'Bliss2Regular';
  font-size:18px;
  line-height: 1.2;
  color: white;
 }

.contact-box{
  padding:10px 10px 10px 10px;
  color:#ffffff;
}
/* -----------------------------------------
   END CONTACT
----------------------------------------- */

/* -----------------------------------------
   TRAVEL TO CORK
----------------------------------------- */

.travel {
  padding-bottom:15px;
  text-align: center;
  vertical-align: middle;
}

.travel-small {
  padding-bottom:15px;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
  vertical-align: middle;
}
/* -----------------------------------------
   END TRAVEL TO CORK
----------------------------------------- */

div.mobile-artist-video {
  padding-left: 0;
}



.video-container iframe  {
width : 100%;
}

/*---------------------------------------
CUSTOM MEDIA QUERIES FOR RESPONSIVE SLIDER & NAV
---------------------------------------*/

@media screen and (max-width: 780px) {

/*----------
THIS RULE HIDES THE FLOATING
MENU ON THE MUSIC TRAIL PAGE
----------*/

  .trail-venues {
    display: none;
  }

/*----------
NAV
----------*/

  .menu.inactive {
    display: none;
  }

   .menu.active {
    display: block;
  }

  a.menu-link {
    /*float: right;*/
    display: block;
    padding: 1em;
    width: auto;
    text-indent: -9999px;
    overflow: hidden;
    background: #000000 url("http://responsive-nav.com/images/hamburger.gif") no-repeat 50% 33%;
    margin-bottom: 20px;
  }

  .menu, .menu > ul ul {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
/*----------
END NAV
----------*/
}


@media screen and (max-width: 767px) {

  /*
  sets some margin to the li elements when on mobile view
  */
  .show-details li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .show-details{
    padding-bottom:20px;
  }

  .large-btns .captions {
    position: absolute;
    left:0;
    top:160px;
    margin-top:25px;
    margin-bottom: 0%;
    text-shadow: none;
    font-size: 20px;
    color: #000;
    background: #fff;
    max-width: none;
    padding-top:10px;
    padding-left:none;
    padding-bottom:8%;
    width:100%;
    height:100%;
    text-align:center;
    background: #fff;
  }

  .large-btns .mini-captions {
    position: absolute;
    left:0;
    margin-top:5px;
    margin-bottom: 0%;
    text-shadow: none;
    font-size: 12px;
    color: #000;
    background: #fff;
    max-width: none;
    padding-top:none;
    padding-left:none;
    padding-bottom:-1%;
    width:100%;
    height:20%;
    text-align:center;
    background: #fff;
  }

  .rslides {
    height:250px;
  }

    .rslides.sponser-slider {
   height:auto;
  }

  .large-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    opacity: 0.6;
    text-indent: -9999px;
    overflow: hidden;
    top: 195px;
    bottom: 0;
    left: 0;
    background: url("../images/themes.gif") no-repeat left 50%;
    height:50px;
    width: 38px;
  }

  .large-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: none;
    display: inline-block;
    _display: block;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 15px;
    height: 10px;
  }

  .large-btns_here a {
    background: none;
  }

  .rslides_container{
    height:auto;
  }

}


/*-------------------------
CUSTOM MEDIA QUERIES
--------------------------*/

/* FOUNDATION GRID - LARGE SCREEN (Green) */
@media only screen and (min-width: 1200px) {
  .row { width: 1170px; max-width: 100%; min-width: 768px; margin: 0 auto; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  .row.collapse .column, .row.collapse .columns { padding: 0; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  .row .row.collapse { margin: 0; }

  /*responsive nav adjustments*/
  .nav li {
    margin-right: 7%;
  }

/*  .name-container {
    min-height: 50px;
  }
*/

  /*end responsive nav adjustments*/
  .large-btns .captions {
  font-size: 41px;
  }

  .large-btns .mini-captions {
  font-size: 22px;
  }

  .tabs.pill dd a, .tabs li a{
  padding-top: 2%;
  padding-bottom: 2%;
  }

  dd.active:after{
    top:90%;
  }
}

@media only screen and (min-width: 767px) and  (max-width: 933px) {

  .nav li {
    margin-right: 2%;
  }

  .nav li:last-child {
    float: left;
  }

}


/* TABLET SCREEN (Grey) */
@media only screen and (min-width: 400px) and  (max-width: 767px) {

  /*  FOUNDATION GRID */
  .row { width: 400px; max-width: 100%; min-width: 380px; margin: 0 auto; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  .row.collapse .column, .row.collapse .columns { padding: 0; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  .row .row.collapse { margin: 0; }

  /* CONTAINER */

  .double-bill {
  top: 90%;
  bottom: 90%;

  }

  .name-container {
    min-height: 75px;
  }

  /* FOOTER */
  div.row.footer {
  line-height: 60px;
  }

  div.logo{
  text-align: center;
  }

  /* TABS */
  .tabs.pill.two-up {
    margin-bottom:45px;
  }

  .tabs.pill dd.active a, .tabs li.active a{
    font-size:18px;
    line-height: 1.2;
    height:62px;
  }

  .tabs.pill dd a, .tabs li a{
    font-size:18px;
    line-height: 1.2;
    padding:10px 0 10px 0;
    height:62px;
  }


  /*TABS DROPDOWN ARROW*/
  dd.active{
    margin-left: 0px;
    background: #b5172c;
    border-top: 0px;
    color: #ffffff;
    font-family: 'Bebas';
    position:relative;
    padding-bottom:0px;
    margin-bottom:0px;
    border-left: none;
    border-right: none;
  }

  dd.active:after{
    content:"";
    border-color: #b5172c transparent transparent transparent;
    border-style:solid;
    border-width:25px;
    width:0;
    height:0;
    position:absolute;
    top:52px;
    z-index:500;
    left:35%;
  }

  /*artist view */
  div.mobile-artist-vdeo, div.show-details {
    padding-left: 20px;
  }

        /* concerts page */
  a.button.sub-filter-btn.more-info{
    margin-top: 0 !important;
    float: none !important;
  }


}

/* MOBILE SCREEN (Pink) */

@media only screen and (min-width: 0px) and (max-width: 400px) {

    h3.smaller{
      font-size: 1.2em;
    }

    /* CONTAINER */

    .columns.jazz-camp
    {
      margin-left: 0px;
      padding-left: 0px;
      margin-right: 0px;
      padding-right: 0px;
    }


    /* FOOTER */
    div.row.footer {
      line-height: 60px;
    }

    div.logo{
      text-align: center;
    }

    .video-container iframe  {

    height: auto;
    }


    /* TABS */
     .tabs.two-up dd a{
    font-size: 1.3em;

    }

    .tabs.pill.two-up {
    margin-bottom:45px;
    }

    .tabs.pill dd a, .tabs li a{
    height:62px;
    }

    .tabs.pill dd.active a, .tabs li.active a{
    font-size:14px;
    line-height: 1.2;
    height:62px;
    }

    .tabs.pill dd a, .tabs li a{
    font-size:14px;
    line-height: 1.2;
    }

    /*TABS DROPDOWN ARROW*/
    dd.active{
    margin-left: 0px;
    background: #b5172c;
    border-top: 0px;
    color: #ffffff;
    font-family: 'Bebas';
    position:relative;
    padding-bottom:0px;
    margin-bottom:0px;
    border-left: none;
    border-right: none;
    }

    dd.active:after{
    content:"";
    border-color: #b5172c transparent transparent transparent;
    border-style:solid;
    border-width:25px;
    width:0;
    height:0;
    position:absolute;
    top:52px;
    z-index:500;
    left:35%;
    }

    /*artist view */

    div.mobile-artist-vdeo, div.show-details {
    padding-left: 20px;
    }

    ul.inline-list.filter-pg {
      margin-left: 0;
    }

    div.map-container-venue {
      margin-right: 0;
    }

}


