.gig-list
{
    overflow: hidden;
}

.gig-list-element
{
    cursor: pointer;
    margin-bottom: 20px;
    min-height: 405px;
    text-align: center;
}

.gig-list-detail
{
    background: #2c2b2b;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.angular-google-map 
{
  height: 190px; 
  display:block;
}

/* artist info */

.gig-list-detail h6
{
    color:  #c7a55e;
    text-transform: uppercase;
}

.min-bio
{
    margin-bottom: 20px;
}

.float-right
{
    float: right;
}

.close-btn
{
  cursor: pointer;
  font-size: 20pt;
  color: #ffffff;
  word-spacing: 0.3em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
}

.concerts-main-youtube
{
  margin-top: 15px;
}

a.button.sub-filter-btn.more-info
{
    margin-top: 14%;
    float: right;
}

a.button.sub-filter-btn.filter
{
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

.filter-buy-tickets
{
  margin-top: 20px;
}


/* overwrites the 40px margin below each artist box */


/* venue filter page */



.venue-detail
{
  overflow: hidden;
  padding: 20px;
}

.image-wrap.filter
{
  box-shadow: none;
  border: solid 2px #c5a367;
}

.phone-address p
{
  font-size: 1.3em;
  margin-bottom: 0;

}

.phone-address
{
  margin-bottom: 10px;
}

.inline-list .filter-pg
{
    margin-top: 20px;
}

ul.inline-list 
{
  margin-left: 0;
}

ul.inline-list li a
{
    height: 59px;
    width: 59px;
    text-indent: -10000px;
}



.web-venue
{
    background:url("../images/site_assets/artist/artist_website.png") no-repeat;
}

.facebook-venue
{
    background:url("../images/site_assets/artist/artist_facebook.png") no-repeat;
}

.twitter-venue
{
     background:url("../images/site_assets/artist/artist_twitter.png")no-repeat;
}


.no-gig-alert {
    margin-bottom: 20px;
}

a.mobile-four.columns.button.filter-btn {
    margin-right: 1%;
}


.category-btn {
  color: #000000;
  background-color: #c7a55e;
  height: 40px;
  line-height: 40px;
  width: 32%;
  border:none;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 1.3em;
  margin-right: 1%;
}
/*buttons at the bottom of the venue filter */

.category-btn:last-child {
  margin-right: none;
}

.category-btn:hover{
  color: #ffffff;
  background-color: #b5172c;
}

.filter-active
{
    color: #ffffff;
    background-color: #b5172c;
}

.filter-active:after
{
  content: "";
  border-color: #b5172c transparent transparent transparent;
  border-style: solid;
  border-width: 25px;
  width: 0;
  height: 0;
  position: absolute;
  top: 70%;
  left: 1%;
  right: 1%;
  bottom: 70%;
  z-index: 10;
}

.loading-message 
{
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

a.category-btn {
  margin-bottom: 2%;
}


div.small-day-filter .sub-filter-btn{
  margin-bottom: 20px;
}


.small-day-filter a {
  float: left;
  clear: none;
  height: 40px;
  line-height: 40px;
  margin-right: 1%;
  width: 24% !important;
  padding:0;
  font-size: 1em;
}


.small-day-filter a:last-child {
  margin-right: 0;
}

ul.inline-list.filter-pg li {
  margin-left: 17px;
}

/*  trail gig adjusts the gigs displayed in the full schedule 
    listings 
*/

.trail-gig 
{
  padding-bottom:12px;
}

.sub-venue-title
{
  background-color: #b5172c; 
  text-indent: 10px; 
  line-height: 20pt; 
  padding-top: 10px; 
  padding-bottom: 10px;
}


/*
  The following resolve the stylign of the gig list element by 
  adding some media qqueries to deal with teh differirng screen size.
  It adjusts the min height accordingly
*/

@media only screen and  (min-width: 1200px) {

  .gig-list-element
  {    
    min-height: 490px;
  }

  .angular-google-map 
  {
  height: 297px; 
  }

}


@media only screen and (min-width: 400px) and  (max-width: 767px) {

  .gig-list-element
  {
    min-height: 350px;
    margin-bottom: 30px;
  }

  .filter-btn {
    margin-bottom: 2%;
  }

   .venue-opts-container {
    margin-bottom: 10px;
  }

}


@media only screen and (min-width: 0px) and (max-width: 400px) {


  h1 {
    font-size: 2.5em;
  }

  .gig-list-element
  {
      min-height: 10px;
  }

  .sub-filter-btn
  {
    margin-right: 0;
    clear: both;
    height: auto;
  }

  a.button.sub-filter-btn.more-info
  {
    float: none;
  }

  .filter-btn-container, .sub-filter-btn-container {
    margin-bottom: 10px;
  }

   .venue-opts-container {
    margin-bottom: 10px;
  }

  .filter-btn {
    margin-bottom: 2%;
  }

}









