<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
<head>
    <meta charset="utf-8">
    <!--[if lte IE 8]>
    <style type="text/css">
    .sold-out-circle {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
    }
    </style>

    <script>
        document.createElement('rm-gig-list-detail');
    </script>
    <![endif]-->
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>{site_name}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="description" content="Ireland's premier Jazz event. Running from October 25th to 28th and featuring some of the biggest names in Jazz.">
    <meta name="keywords" content="cork,guinness,jazz,festival,cork,2013,efterklang,chic,nile rodgers,bilal,courney pine,billy cobham,portico quartet,rene marie, alexander nut,fatima,eglo">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/stylesheets/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/stylesheets/app.css" type="text/css">
    <link rel="stylesheet" href="/assets/stylesheets/music.css" type="text/css">
    <style>
    /*
    this rule below is used for th embeded maps and a conflict maps has with foundation
    the widget for moving around the map is removed without this rule. However, a rule
    declaring max-width:100%; is required for the images on this page then
    */
    img { max-width:none; }
    </style>
    <!-- GA -->
    {ANALYTICS}
</head>
<body>

<!--Start Header - shows logo & festival date -->
	{embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
	{embed="includes/.navigation"}
<!--End Navigation -->
<div class="row">
    <div class="twelve columns black-bg">

        <h1>Guinness Music Xtra</h1>

        <!--Start AngularJS application-->
    	<div ng-controller="FilterCtrl">

            <!-- filter top-level options -->
            <div class="row">
                <div class="twelve columns filter-btn-container">
                    <a class="mobile-four columns button filter-btn" ng-class="{ 'filter-active': filterOpts == null }" ng-click="resetState(null)">All Music</a>
                    <a class="mobile-four columns button filter-btn" ng-class="{ 'filter-active': filterOpts == 'dayOpts' }" ng-click="resetState('dayOpts')">Day</a>
                    <a class="mobile-four columns button filter-btn end" ng-class="{ 'filter-active': filterOpts == 'venueOpts' }" ng-click="resetState('venueOpts')">Venue</a>
                </div>
            </div>

            <!-- filter second-level options -->
            <div class="row">
                <div class="twelve columns sub-filter-btn-container" ng-switch on="filterOpts">
                    <div ng-switch-when="dayOpts">
                            <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.day == 'Friday 25th' }" ng-click="$parent.filter = {day:'Friday 25th'}">Fri 25th</a>
                            <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.day == 'Saturday 26th' }" ng-click="$parent.filter = {day:'Saturday 26th'}">Sat 26th</a>
                            <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.day == 'Sunday 27th' }" ng-click="$parent.filter = {day:'Sunday 27th'}">Sun 27th</a>
                            <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.day == 'Monday 28th' }" ng-click="$parent.filter = {day:'Monday 28th'}">Mon 28th</a>
                    </div>
                    <div ng-switch-when="venueOpts">
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Festival Club at the Metropole' }" ng-click="$parent.filter = {venue:'Festival Club at the Metropole'}">Festival Club at the Metropole</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Old Oak' }" ng-click="$parent.filter = {venue:'Old Oak'}">Old Oak</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Cyprus Avenue' }" ng-click="$parent.filter = {venue:'Cyprus Avenue'}">Cyprus Avenue</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'The Oliver Plunkett' }" ng-click="$parent.filter = {venue:'The Oliver Plunkett'}">The Oliver Plunkett</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Bodega' }" ng-click="$parent.filter = {venue:'Bodega'}">Bodega</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Crane Lane Theatre' }" ng-click="$parent.filter = {venue:'Crane Lane Theatre'}">Crane Lane Theatre</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Imperial Hotel' }" ng-click="$parent.filter = {venue:'Imperial Hotel'}">Imperial Hotel</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'The Pavilion' }" ng-click="$parent.filter = {venue:'The Pavilion'}">The Pavilion</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'The Woodford' }" ng-click="$parent.filter = {venue:'The Woodford'}">The Woodford</a>
                        <!-- <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Bowery' }" ng-click="$parent.filter = {venue:'Bowery'}">Bowery</a> -->
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'An Brog' }" ng-click="$parent.filter = {venue:'An Brog'}">An Brog</a>
                        <a class="button sub-filter-btn filter" ng-class="{ 'filter-active': $parent.filter.venue == 'Reardens' }" ng-click="$parent.filter = {venue:'Reardens'}">Reardens</a>
                    </div>
                </div>
            </div>

            <!-- venue information -->
            <div class="row" ng-show="filter.venue">
               <div class="twelve columns ">
                    <div class="twelve columns venue-detail red-bg">


                        <div class="seven columns zero">
                            <h1 style="margin-top: 0;">{{ filter.venue }}</h1>

                            <div class="row">
                                <div class="five columns phone-address">
                                    <p> {{ venue.phone }} </p>
                                    <p> {{ venue.address }} </p>
                                </div>

                                <div class="seven columns zero">
                                    <ul class="inline-list filter-pg">
                                        <li> <a href="{{ venue.facebook }}" target="_blank"  class="facebook-venue" ng-show="venue.facebook">{{ venue.facebook }}</a> </li>
                                        <li> <a href="{{ venue.twitter }}"  target="_blank"  class="twitter-venue"  ng-show="venue.twitter">{{ venue.twitter }}</a> </li>
                                        <li> <a href="{{ venue.web }}"      target="_blank"  class="web-venue"      ng-show="venue.web">{{ venue.web }}</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="map-container-venue">
                                <div google-map center="center" zoom="zoom" markers="markers" class="angular-google-map" refresh="true"></div>
                            </div>

                        </div>

                        <div class="venue-detail five columns zero">
                             <div class="image-wrap filter" >
                                <div class="circle-image">
                                    <img ng-show="venue.pic" ng-src="{{ venue.pic }}" alt="{{ venue.name }}" style="max-width:100%">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row" ng-show="loadingVenue">
                <div class="twelve columns centered loading-message">
                    <h4>Retrieving listings for {{ showVenue }}</h4>
                </div>
            </div>

            <!-- venue section tabs -->
            <div class="row" ng-show="filter.venue" style="margin-bottom: 20px;">
                <div class="ten columns" style="margin-top: 20px;">
                    <a ng-class="{ 'filter-active': tab == 'artists' || !tab }" class="mobile-four columns button category-btn " ng-click="tab = 'artists'">Featured Artists</a>
                    <a ng-class="{ 'filter-active': tab == 'schedule' }"        class="mobile-four columns button category-btn end" ng-click="tab = 'schedule'">Full Schedule</a>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns" style="margin-bottom: 20px;">
                    <!-- tab switcher -->
                    <div ng-switch on="tab">
                        <!-- directive: venue schedule -->

                        <div ng-show="filter.venue" ng-switch-when="schedule">
                            <div class="gig-schedule" rm-gig-schedule data="venue.schedules" info="venue.extra_information"></div>
                        </div>

                        <!-- directive: gig list -->

                        <div ng-switch-default >
                            <div class="gig-list" rm-gig-list filter="filter" ajax="/guinness-music-xtra/json-gigs"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<!--End AngularJS application -->
    </div>
</div>
<!--Start Footer-->
	{embed="includes/.footer"}
<!--End Footer-->

