{embed="includes/.head"}

<style>
    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */

  img { 
    max-width:none; 
  }
</style>

</head>

<body>


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->


<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">
        <h1>404 error</h1>
    </div>
</div>



<div class="row">
    <div class="black-bg twelve columns" style="margin-bottom:20px;">
        <h2>Sorry, but the page or file you requested could not be located.</h2>
    </div>
</div>

{embed="includes/.footer"}