{embed="includes/.head"}
</head>
<body>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<!--Start Header - shows logo & festival date -->
    {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
    {embed="includes/.navigation"}
<!--End Navigation -->


<!--Start Slider -->
    {embed="includes/.slider"}
<!--End Slider -->

<!--Start Content -->
<div class="row" >
    <div class="twelve columns-zero">
        <div class="twelve columns mybox line-up">
           <h2 class="hide-for-small"> jazz 2013 line up</h2>
           <h2 class="show-for-small home-pg-mybox-mob"> jazz 2013 line up</h2>
        </div>
            {exp:channel:entries channel="gig_schedule" sort="asc" dynamic="off"}
                {artist_listing search:shown_on_home_page="=true"}
                    <div class="four columns artists">
                      <a href="{title_permalink='concerts/detail'}/{gig_name}#{artist}{url_title}{/artist}">
                            <div class="gig-container">
                                {artist}
                                <div class="image-wrap">
                                    <div class="circle-image">
                                        {exp:ce_img:single src="{artist_image}" crop="yes" allow_scale_larger="yes" max="330" add_dims="no"}
                                    </div>
                                    {if sold_out == 'true'}
                                        <div class="sold-out-circle"> </div>
                                        <div class="sold-out-circle-text"> <h1> sold out </h1> </div>
                                    {/if}
                                </div>

                                {if double_bill_link_artist}
                                <div class="double-bill"> double bill</div>
                                {/if}
                            </div>

                            <div class="copy-container">
                                <div class="name-container equalheight">
                                    <h3 class="artist-hover">{artist_name}</h3>
                                    {/artist}


                                    {if double_bill_link_artist}
                                     <h6 class="db-alert"> {double_bill_link_artist}
                                        double bill with:
                                            <span>{artist_name}</span></h6>
                                    {/double_bill_link_artist}
                                    {/if }
                                </div>
                                <h6><span>{if date != ""}{date format="%D %j%S"}{/if} {time format="%G:%i"}</span> <br>@ {venue}{title}{/venue}</h6>
                            </div>
                        </a>
                    </div>
                {/artist_listing}
            {/exp:channel:entries}
    </div>
</div>

<!--End Content -->
<!-- Start Footer -->
{embed="includes/.footer"}
<!-- End Footer -->