{embed="includes/.head"}

</head>

<body>

<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->
<div class="row">
    <div class="twelve columns black-bg">
        <!--Heading Row -->
        <div class="row">
            <div class="twelve columns">
                <h1>Contact</h1>
            </div>
        </div>
        <!--Heading Row -->

        <!--Content Row -->
        <div class="row" >
            <div class="six columns">
                <h3 class="red-bg contact-box">Do you have a query?</h3>
                <div class="grey-bg contact-box ">
                    <p class="text">Don't hesitate to get in touch with the Guinness Cork Jazz Team.</p>
                    <p class="text"> Fill out this form and we’ll get back to you!</p>
                </div>
            </div>

            <div class="six columns form-container">
                {exp:email:contact_form user_recipients="no" recipients="deirdre@questcom.ie,rocketmedia.jazz@gmail.com" charset="utf-8"  redirect="4"}

                    <input type="hidden" name="subject" value="Guinness Jazz Query" >
                    <p>
                        <input type="text" name="name" value="NAME" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
                    </p>
                    <p>
                        <input type="text" id="email" name="from" value="EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
                    </p>
                        <textarea onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" id="message" name="message"/>MESSAGE</textarea>
                    <p>
                        <input name="submit" type="submit"  value="" class="circle-button"/>
                    </p>

                {/exp:email:contact_form}
            </div>
        </div>
    </div>
</div>

<!--End Content Row -->

<!--============================================================
    ADD IN ADVERT CODE HERE
============================================================ -->

{embed="includes/.footer"}