{embed="includes/.head"}

</head>
        
<body>
        
<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->
    <div class="row">
<div class="twelve columns black-bg">
    <!--Heading Row -->
    <div class="row">
        <div class="twelve columns">
            <h1>Contact</h1>
        </div>
    </div>
    <!--Heading Row -->

    <!--Content Row -->
    <div class="row" >
        <div class="six columns">
            <h3 class="red-bg contact-box">Do you have a query?</h3>
            <div class="grey-bg contact-box ">
                <p class="text">Don't hesitate to get in touch with the Guinness Cork Jazz Team.</p>
                <p class="text"> Fill out this form and we’ll get back to you!</p>
            </div>
        </div>

        <div class="six columns" style="text-align:center; padding-top:50px;">
            <h2>Thank You<h2>
        </div>
    </div>
</div>
</div>

<!--End Content Row -->
    
<!--============================================================
    ADD IN ADVERT CODE HERE
============================================================ -->        
        
{embed="includes/.footer"}