{embed="includes/.head"}

<style>
    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */

  img { 
    max-width:none; 
  }
</style>

</head>

<body>


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->


<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">  
        <h1>jazz camp</h1>
    </div>
</div>

<!-- header info for the jazz camp page -->

{exp:channel:entries channel="events" search:event_type="parent_entry"} 
<div class="row">
    <div class="black-bg twelve columns">

        <div class="seven columns jazz-camp">
        {fringe_festival_text}

         <img style="max-width:100%; margin-bottom:20px;" src="/assets/images/sponsers/jazz-camp-logos-white.png" alt="jazz camp sponsers"/>

        </div>

        <div class="five columns jazz-camp"> 
            <h4 class="event-subtitle" style="margin-top: 0;">
                <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                {fringe_venue_name}
            </h4> 

            <h4 class="event-subtitle">
                <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                 {if fringe_festival_date != ""}
                    {fringe_festival_date format="%D %d%S %M"} 
                {/if} 
                {if fringe_festival_time } @ 
                    {fringe_festival_time format="%g:%i"}
                {/if}
                           
            </h4>

            <h4 class="event-subtitle">
                <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                {if fringe_type == "Free"}
                    Free Admission
                {if:else}
                    {fringe_other}
                {/if}
            </h4>

            {google_map_co_ordinates_events}
                {if total_rows >= 1}
                    <a class="goldButton maps-reveal accom-map" style="width:100%; margin-left:0px; margin-bottom:15px;">map</a>
                    
                    <div class="map-display map-revealable" style="display:none; height:auto; width:100%; ">  
                        <div class="map-canvas" style="margin-bottom: 20px; height:300px;" data-lat="{latitude}" data-lng="{longitude}"></div>    
                     </div> <!-- END MAPS REVEAL ROW -->
                {/if}
            {/google_map_co_ordinates_events}  
        </div>     
    </div>
</div>
{/exp:channel:entries}

<!-- indiv jazz camp entires -->
{exp:channel:entries channel="events" search:event_type="jazz_camp" sort="asc" orderby="date"} 
    
    <div class="row">
        <div class="black-bg twelve columns" style="margin-bottom:20px;">

            <div class="red-bg hide-for-small event-title"><h3 style="color:#ffffff">{title}</h3>  <h4>{sub_title}</h4></div>

                <div class="grey-bg hide-for-small twelve columns">
                    
                    <div class="four columns hide-for-small" style="padding-left:0; margin-left:0px; padding-top:2%; padding-right:2%;"> 
                        {fringe_images}
                            {exp:ce_img:pair src="{fringe_image}" width="340" height="215" crop="yes" allow_scale_larger="yes"}
                                <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" alt="{fringe_image_title}"/>
                            {/exp:ce_img:pair}
                         {/fringe_images}      
                    </div> <!-- closes four columns left--> 

                    <div class="eight columns zero hide-for-small"> 
                        <h4 class="event-subtitle">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                            {fringe_venue_name}
                        </h4> 

                        <h4 class="event-subtitle">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                            {if fringe_festival_date != ""}
                                {fringe_festival_date format="%D %d%S %M"} 
                            {/if} 
                            {if fringe_festival_time } @ 
                                {fringe_festival_time format="%H:%i"}
                            {/if}
                        </h4>

                        <h4 class="event-subtitle">
                            <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                            {if fringe_type == "Free"}
                                Free Admission
                            {if:else}
                                {fringe_other}
                            {/if}
                        </h4>

                    </div> <!-- closes eight columns right--> 

                    <div class="hide-for-small">{fringe_festival_text}</div>

                </div> 
            </div> <!-- closes twelve column container -->
        
            <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="show-for-small">
            <div class="row">
                <div class="twelve columns" style="margin-bottom: 20px">
                    
                    <div class="twelve columns">
                        
                        <div class="red-bg event-title"><h3 style="color:#ffffff">{title}</h3> </div>
                        
                        <div class=" twelve columns grey-bg" style="padding-left:0px; padding-right:0px;">
                            
                            <div class=" mobile-two" style="padding-left:8px; padding-top:8px; padding-right:4px;"> 
                                {fringe_images}
                                    {exp:ce_img:pair src="{fringe_image}" width="340" max_height="280" crop="yes" allow_scale_larger="yes"}
                                        <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" alt="{fringe_image_title}"/>
                                    {/exp:ce_img:pair}
                                {/fringe_images}                               
                            </div> 

                            <div class="mobile-two show-for-small" style="padding-right:0px; padding-left:0px; padding-top:8px;"> 
                                <div class="row">
                                    <div class="twelve columns">
                                        <div class="mobile-one zero"> 
                                             <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                                        </div>

                                        <div class="mobile-three zero"> 
                                            <h4 class="event-subtitle" style="font-size:13px;margin: 13px;">
                                                {fringe_venue_name}
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="twelve columns">
                                        <div class="mobile-one zero">
                                            <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                                        </div>


                                         <div class="mobile-three zero"> 
                                            <h4 class="event-subtitle" style="font-size:13px;margin: 13px;">
                                                {if fringe_festival_date != ""}
                                                {fringe_festival_date format="%D %d%S %M"} {fringe_festival_second_date}
                                                {if:else}
                                                Throughout the weekend
                                                {/if}
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="twelve columns">
                                        <div class="mobile-one zero">
                                            <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                                        </div>


                                         <div class="mobile-three zero"> 
                                            <h4 class="event-subtitle" style="font-size:13px;margin: 13px;">
                                                {if fringe_type == "Free"}
                                                Free Admission
                                                {if:else}
                                                {fringe_other}
                                                {/if}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="mobile-four zero"> 
                                <a class="icon reveal-no-bg" style="top: -6px; right: 3%;"></a>  
                                <div class="revealable-no-bg" style="display:none; padding:20px;">{fringe_festival_text}</div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div> 

</div>

{/exp:channel:entries}


{embed="includes/.footer"}