{embed="includes/.head"}

<style>

    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */


  img { 
    max-width:none; 
  }


</style>

</head>

<body ng-app="mapComponentsApp">


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->

<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">
        <h1>Singers Corner</h1>
    </div>
</div>




{exp:channel:entries channel="events" search:event_type="singers_corner"} 

<div class="row">
    <div class="twelve columns black-bg">

        <div class="red-bg hide-for-small event-title"><h3 style="color:#ffffff">{title}</h3></div>
            <div class="grey-bg hide-for-small twelve columns" style="padding: 10px 0 0 10px; margin-bottom:30px;">
      
                <div class="four columns hide-for-small" style=" padding:0; margin:0;"> 
                    {fringe_images}
                        {exp:ce_img:pair src="{fringe_image}"   crop="yes"}
                            <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" />
                        {/exp:ce_img:pair}
                    {/fringe_images} 
                </div> <!-- closes four columns left--> 

            
                <div class="eight columns hide-for-small"> 
                    <p class="event-subtitle" style="padding-top:0px; margin-top:0px;">
                        <img style="width:35px;height:35px;vertical-align:middle" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                        {fringe_venue_name}
                    </p> 

                      <p class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle; margin-right:5px;" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                        Sat 26th & Sun 27th @ 14:00 – 17:30 each day
                    </p>

                    <p class="event-subtitle">
                        <img style="width:35px;height:35px;vertical-align:middle; margin-right:5px;" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                        {if fringe_type == "Free"}
                            Free Admission
                        {if:else}
                            {fringe_other}
                        {/if}
                    </p>

                <div class="hide-for-small">{fringe_festival_text}</div>
                <div class="hide-for-small">
                        {google_map_co_ordinates_events}
                            {if total_rows >= 1}
                                <a class="goldButton maps-reveal accom-map" style="width:100%; margin-left:0px; margin-bottom:15px;;">map</a>
                                
                                <div class="map-display map-revealable" style="display:none; height:auto; width:100%;">  
                                    <div class="map-canvas" style="margin-bottom: 3%; height:400px;" data-lat="{latitude}" data-lng="{longitude}"></div>    
                                 </div> <!-- END MAPS REVEAL ROW -->
                            {/if}
                        {/google_map_co_ordinates_events}
                </div>
            </div> <!-- closes eight columns right-->      
        </div> 
    </div>    
     </div>     
             <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="show-for-small">
            <div class="row">
                <div class="twelve columns" style="padding-left:0px; padding-right:0px;">
                    <div class=" twelve columns" style="padding-bottom:20px;">
                        <div class="red-bg event-title"><h3 style="color:#ffffff">{title}</h3></div>

                        <div class=" twelve columns grey-bg" style="padding-left:0px; padding-right:0px;">
                            <div class=" mobile-four" style="padding-left:10px; padding-top:8px; padding-bottom:15px;"> 
                                {fringe_images}
                                    {exp:ce_img:pair src="{fringe_image}"  width="170" height="160" crop="yes"}
                                        <img src="{made}" width="{width}" height="{height}" style="max-width:100%;" />
                                    {/exp:ce_img:pair}
                                {/fringe_images}                                
                            </div> 

                    <div class="mobile-four show-for-small" style="padding-right:0px; padding-left:0px;"> 
                         <div class="twelve columns">
                        <div class="mobile-one zero"> 
                         <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_location.png" alt="Location">
                        </div>

                        <div class="mobile-three zero"> 
                            <h4 class="event-subtitle" style="margin: 0px 0px 13px 0px;">
                                The Jazz Bar @ The Everyman
                            </h4>
                        </div>
                        </div>   

             
                      <div class="twelve columns">
                        <div class="mobile-one zero">
                            <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_time.png" alt="Time">
                        </div>

                        <div class="mobile-three zero"> 
                            <h4 class="event-subtitle" style="margin: 13px 0px 13px 0px;">
                            Sat 26th & Sun 27th 14:00 – 17:30 each day
                        </div>
                    </div>

                      

                       <div class="twelve columns">
                        <div class="mobile-one zero">
                            <img style="width:35px;height:35px;vertical-align:middle;margin-bottom:5px;" src="/assets/images/site_assets/events/events_price.png" alt="Price">
                        </div>

                         <div class="mobile-three zero"> 
                            <h4 class="event-subtitle" style="margin: 13px 0px 13px 0px;">
                                {if fringe_type == "Free"}
                                Free Admission
                                {if:else}
                                {fringe_other}
                                {/if}
                            </h4>
                        </div>
                    </div>
                </div>


                    <div class="mobile-four columns" style="padding:0 5px 0 5px;;"> 
                        <a class="accom-map-reveal" style="margin-top:25px; background-repeat:no-repeat;"> </a>

                        <div class="mobile-four columns accom-map-revealable" style="display:none; height:auto; padding:0 2% 0 2%;"> 
                                        
                            <div class="map-canvas" style="margin-left:0px; margin-bottom: 3%; height:250px;" data-lat=" {google_map_co_ordinates_events}  {latitude} {/google_map_co_ordinates_events}" data-lng="{google_map_co_ordinates_events} {longitude} {/google_map_co_ordinates_events}"></div>

                            <div>{fringe_festival_text}</div>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 






{/exp:channel:entries}
  
</div>


{embed="includes/.footer"}