{embed="includes/.head"}

<style>

    /* 
    note:
    this rule below is used for th embeded maps and a conflict maps has with foundation 
    the widget for moving around the map is removed without this rule. However, a rule 
    declaring max-width:100%; is required for the images on this page then   
    */


  img { 
    max-width:none; 
  }


</style>

</head>

<body ng-app="mapComponentsApp">


<!--Start Header - shows logo & festival date -->
  {embed="includes/.header"}
<!--End Header -->

<!--Start Navigation -->
  {embed="includes/.navigation"}
<!--End Navigation -->

<!--Heading Row -->
<div class="row black-bg">
    <div class="twelve columns">  
        <h1>street bands</h1>
    </div>
</div>
  
       


   <div class="row">
        <div class="black-bg twelve columns">
        <p class="street-paragraph">Red hot jazz on the streets of Cork during the Festival weekend is on the menu from four great visiting bands. These sensational groups are presented by the Cork Jazz Festival Committee kindly supported by Failte Ireland.</p>

    </div>
        </div>
            {exp:channel:entries channel="events" search:event_type="street_music"} 

<div class="row">
    <div class="twelve columns black-bg">

        <div class="red-bg hide-for-small">
            <h3 class="street-title" style="color:#ffffff">{title}</h3>
            <h6 class="street-last-title"> {address_street_music}</h6>
        </div>

            <div class="grey-bg hide-for-small twelve columns" style="padding: 10px 0 0; 10px; margin-bottom:30px;">
      
                <div class="four columns hide-for-small street-image"> 
                    {fringe_images}
                        {exp:ce_img:pair src="{fringe_image}"  max_width="375" crop="yes"} 
                            <img src="{made}" width="{width}" height="{height}" style="max-width:100%" />
                        {/exp:ce_img:pair}
                    {/fringe_images}      
                </div> <!-- closes four columns left--> 

            
                <div class="eight columns hide-for-small"> 
              

                   

                <div class="hide-for-small">{fringe_festival_text}</div>
                <div class="hide-for-small">
                        {google_map_co_ordinates_events}
                            {if total_rows >= 1}
                                <a class="goldButton maps-reveal accom-map" style="width:100%; margin-left:0px; margin-bottom:15px;;">map</a>
                                
                                <div class="map-display map-revealable" style="display:none; height:auto; width:100%;">  
                                    <div class="map-canvas" style="margin-bottom: 3%; height:400px;" data-lat="{latitude}" data-lng="{longitude}"></div>    
                                 </div> <!-- END MAPS REVEAL ROW -->
                            {/if}
                        {/google_map_co_ordinates_events}
                </div>
            </div> <!-- closes eight columns right-->      
        </div> 
    </div>    
     </div>     
             <!-- OPENS CONTENT CONTAINER THAT SHOWS FOR MOBILE  -->
        <div class="show-for-small">
            <div class="row">
                <div class="twelve columns" style="padding-left:0px; padding-right:0px;">
                    <div class=" twelve columns" style="padding-bottom:20px;">
                        <div class="red-bg">
                            <h3 class="street-title" style="color:#ffffff">{title}</h3>
                            <p class="street-last-title">{address_street_music}</p> 
                        </div>
                        <div class=" twelve columns grey-bg" style="padding-left:0px; padding-right:0px; margin-bottom:10px;">
                            <div class=" mobile-two" style="padding-left:10px; padding-top:8px;"> 
                          
                                {fringe_images}
                                    {exp:ce_img:pair src="{fringe_image}"  width="170" height="160" crop="yes"} 
                                        <img src="{made}" width="{width}" height="{height}" style="max-width:100%" />
                                    {/exp:ce_img:pair}
                                {/fringe_images}      


                            </div> 

                    <div class="mobile-two show-for-small" style="padding-right:0px; padding-left:0px;"> 
                 

             
               
                   

                            <div>{fringe_festival_text}</div>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 






{/exp:channel:entries}
  
</div>


{embed="includes/.footer"}